<main class="offset-2 col-8">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-start mt-5 mb-4">
            <div class="col-12">
                {{ form_row(form.titre) }}
            </div>
            <div class="col-6">
                {{ form_row(form.chapitreParent) }}
            </div>
            <div class="col-6">
                {{ form_row(form.numero) }}
            </div>
            <div class="col-12">
                {% if type == 'Modifier' %}
                    <img class="img-fluid" src="{{ asset(episode.image) }}" />
                {% endif %}
                {{ form_row(form.image) }}
            </div>
            <div class="col-12">
                {{ form_row(form.resume,{ 'attr': {'rows': '2'} }) }}
            </div>
            <div class="col-12 text-center mt-5">
                <button class="btn btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</main>