{% extends 'base.html.twig' %}

{% block title %}Fiche personnage {{ parent() }}{% endblock %}

{% block body %}

    <main class="container-fluid bg-light">
        <section class="container">

            <nav class="pt-3">
                <span class="text-muted">
                    <a href="{{ path('aventure') }}">
                        <i class="fas fa-home"></i></a>
                        > <a href="{{ path('mon_compte') }}"><strong>Mon compte</strong></a>
                        > <a href="{{ path('mon_compte') }}"><strong>Fiche Privée Personnage</strong></a>
                        > <strong>{{fiche.personnage.nom}} {{fiche.personnage.prenom}}</strong>
                </span>
            </nav>

            <h1 class="pt-3 mb-3">
                Fiche Privée de {{ fiche.personnage.nom }} <strong>{{ fiche.personnage.prenom }}</strong>
            </h1>

            <article class="card mt-3 p-3">
            <div class="row card-body">
                <div class="col-8 card-text">
                    <div class="row">

                        <div class="col-4 card-text">
                            <ul>
                                <li>Clan : <strong>{{ fiche.personnage.clan.nom }}</strong></li>
                                <li>Classe : <strong>{{ fiche.personnage.classe.nom }}</strong></li>
                                <li>Ecole : <strong>{{ fiche.personnage.ecole.nom }}</strong></li>
                                <li>XP Création : <strong>{{ fiche.creationExp }}</strong></li>
                            </ul>
                        </div>
                        <div class="col-4 card-text">
                            <ul>
                                <li>Rang : <strong>Calcul Rang</strong></li>
                                <li>Experience : <strong>Calcul Somme XP</strong></li>
                                <li>Reste : <strong>0</strong></li>
                                <li>Réputation : <strong>0</strong></li>
                            </ul>
                        </div>
                        <div class="col-4 card-text">
                            <ul>
                                <li>Honneur : <strong>0</strong></li>
                                <li>Gloire : <strong>0</strong></li>
                                <li>Infamie : <strong>0</strong></li>
                                <li>Souillure : <strong>0</strong></li>
                            </ul>
                        </div>

                        <div class="col-12 card-text">
                            <hr>
                            <div class="row text-center">
                                <div class="col-4 offset-2">
                                    <span class="display-4">{{ min(fiche.constitution, fiche.volonte) }}</span>
                                    <br/>Anneau de Terre
                                    <br/><strong>Constitution : {{ fiche.constitution }}</strong>
                                    <br/><strong>Volonté : {{ fiche.volonte }}</strong>
                                </div>
                                <div class="col-4">
                                    <span class="display-4">{{ min(fiche.reflexes, fiche.intuition) }}</span>
                                    <br/>Anneau de l'Air
                                    <br/><strong>Relfexes : {{ fiche.reflexes }}</strong>
                                    <br/><strong>Intuition : {{ fiche.intuition }}</strong>
                                </div>
                            </div>

                            <div class="row text-center">

                                <div class="col-4 offset-1">
                                    <span class="display-4">{{ min(fiche.forceStat, fiche.perception) }}</span>
                                    <br/>Anneau de l'Eau
                                    <br/><strong>Force : {{ fiche.forcestat }}</strong>
                                    <br/><strong>Perception : {{ fiche.perception }}</strong>
                                </div>

                                <div class="col-2">
                                    <img class="img-fluid" src="{{ asset('assets/img/icons/5rings.png') }}" alt="La 5 anneaux" />
                                </div>

                                <div class="col-4">
                                    <span class="display-4">{{ min(fiche.agilite, fiche.intelligence) }}</span>
                                    <br/>Anneau du Feu :
                                    <br/><strong>Agilité : {{ fiche.agilite }}</strong>
                                    <br/><strong>Intelligence : {{ fiche.intelligence }}</strong>
                                </div>

                            </div>

                            <div class="row text-center">
                                <div class="offset-4 col-4">
                                    <span class="display-4">{{ fiche.vide }}</span>
                                    <br/>Anneau du Vide
                                </div>
                            </div>              
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="{{ asset(fiche.personnage.illustration) }}" />
                </div>
                <div class="col-8">
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            Avantages :<br/>
                            <strong>{{ fiche.avantages }}</strong><br/><br/>
                        </div>
                        <div class="col-6">
                            Desavantages :<br/>
                            <strong>{{ fiche.desavantages }}</strong><br/><br/>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Compétence</th>
                                <th scope="col">Rang</th>
                                <th scope="col">Trait</th>
                                <th scope="col">Spé.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Armes Lourdes</th>
                                <td>X</td>
                                <td>AGI</td>
                                <td>X</td>
                            </tr>
                            <tr>
                                <th scope="row">Art de la Guerre</th>
                                <td>X</td>
                                <td>PERC</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Défense</th>
                                <td>X</td>
                                <td>REFL</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Athlétisme</th>
                                <td>X</td>
                                <td>AGI/FOR</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Etiquette</th>
                                <td>X</td>
                                <td>INTUI</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h4 class="card-title">Statistique de Combat</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Initiative : <strong>XgX</strong></li>
                            <li class="list-group-item">Arme (X) : <strong>XgX</strong></li>
                            <li class="list-group-item">Armure (X) : <strong>+10 ND +5 Réduction</strong></li>
                            <li class="list-group-item">ND d'Armure : <strong>X</strong></li>
                            <li class="list-group-item">Réduction d'Armure : <strong>X</strong></li>
                        </ul>
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Etat</th>
                                    <th>Malus</th>
                                    <th>HP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Indemne</td>
                                    <td>0</td>
                                    <td>{{ 5*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                                <tr>
                                    <td>Indemne</td>
                                    <td>0</td>
                                    <td>{{ 2*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                                <tr>
                                    <td>Indemne</td>
                                    <td>+3</td>
                                    <td>{{ 2*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                                <tr>
                                    <td>Indemne</td>
                                    <td>+5</td>
                                    <td>{{ 2*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                                <tr>
                                    <td>Indemne</td>
                                    <td>+10</td>
                                    <td>{{ 2*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                                <tr>
                                    <td>Indemne</td>
                                    <td>+15</td>
                                    <td>{{ 2*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                                <tr>
                                    <td>Indemne</td>
                                    <td>+20</td>
                                    <td>{{ 2*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                                <tr>
                                    <td>Hors de Combat</td>
                                    <td>+30</td>
                                    <td>{{ 2*min(fiche.constitution, fiche.volonte) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h4 class="card-title">Inventaire</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Item 1</li>
                            <li class="list-group-item">Item 2</li>
                            <li class="list-group-item">Item 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>

        </section>
    </main>

{{ include('/parts/modal.html.twig') }}

{% endblock %}
