<main class="col-12 mt-5">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-end mb-4">

            <div class="col-4">{{ form_row(form.nom) }}</div>
            <div class="col-4">{{ form_row(form.categorie) }}</div>
            <div class="col-4">{{ form_row(form.type) }}</div>
            
            <div class="col-3">{{ form_row(form.prix) }}</div>
            <div class="col-3">{{ form_row(form.numero) }}</div>
            <div class="col-3">{{ form_row(form.motCle1) }}</div>
            <div class="col-3">{{ form_row(form.motCle2) }}</div>

            <!-- IMAGE -->
            <div class="col-12 mt-3">
                {{ form_label(form.image) }}
                <label id="preview-label" for="admin_objet_image" class="hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible text-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{{ asset(objet.image|default(NA_169)) }}" />
                </label>
                <browse id="browse-label" class="d-none">
                    <span id="fileName"></span>
                    {{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}
                </browse> 
            </div>

            <div class="col-12 mt-3">
                {{ form_row(form.description,{ 'attr': {'rows': '5'} }) }}
            </div>

            <div class="col-12 mt-3">
                {{ form_row(form.regles,{ 'attr': {'rows': '3'} }) }}
            </div>

            <!-- ARME & ARMURES -->
            <section class="col-12 mt-5">
                <h2 class="title-h3">Arme & Armure</h2>
                <hr>
            </section>
            <div class="col-4">{{ form_row(form.taille) }}</div>
            <div class="col-4">{{ form_row(form.vd) }}</div>
            <div class="col-4">{{ form_row(form.forceArc) }}</div>
            

            <div class="col-4">{{ form_row(form.poids) }}</div>
            <div class="col-4">{{ form_row(form.ndArmure) }}</div>
            <div class="col-4">{{ form_row(form.reduction) }}</div>

            <div class="col-12 text-center mt-5">
                <button class="btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>

        </div>
    {{ form_end(form) }}
</main>