{% extends 'element.html.twig' %}
{% block element_content %}

    <!-- BANNER INTRO -->
    <section class="col-12 pb-1">

        <!-- CONTAINER IMAGE -->
        <div style="position: relative;">

            <!-- CONTAINER ZONE TEXT + BLUR ABSOLUTE -->
            <div class="col-10 row p-0 m-0 text-white text-shadow mb-3 justify-content-end" style="position: absolute; z-index: 2; bottom: 0; right: 0;" >

                <div class="col-4 text-center" style="z-index: 2;">
                    <h2>Bonus</h2>
                    <span class="text-xp text-big">{{ ecole.bonus }}</span>
                </div>

                <div class="col-4" style="z-index: 2;">
                    <h2>Compétences</h2>
                    <p class="ml-4 mt-2">{{ ecole.competences|raw }}</p>
                </div>

                <div class="col-4" style="z-index: 2;">
                    <h2>Équipement</h2>
                    <p class="ml-4 mt-2">{{ ecole.equipements|raw }}</p>
                </div>

                <!-- CONTAINER BLUR ABSOLUTE -->
                <div style="width: 80%; height: 80%; position: absolute; z-index: 1; background-color: #000000; filter: blur(2rem); opacity: 0.4;">&nbsp;</div>

            </div>

            <!-- IMAGE -->
            <div class="gradient-after"><img class="img-fluid" src="{{ asset(ecole.image) }}" alt="Image de l'École"  /></div>

        </div>

        <!-- DESCRIPTION -->
        <div class="card card-body"><p class="text-justify px-5 py-3 m-3 mb-5 text-medium">{{ ecole.description|raw|nl2br }}</p></div>

    </section>

    <!-- TECHNIQUES -->
    <section class="col-8 pr-1 pt-1">
        <div class="card card-body pt-4 h-100">
            <h2 class="card-title"><strong>Techniques</strong></h2>
            <hr>

            {% for i in 1..5 %}
                {% if attribute(ecole, 'tech' ~ i ~ 'Nom') is not empty %}
                    <div class="card-text row p-0 my-3 mx-0">
                        <div class="col-2 text-center" style="color: {{ ecole.clan.couleur }}">
                            <strong>Rang</strong><br/>
                            <span class="number-skillrank-effect display-1" >{{ i|relief|raw }}</span>
                        </div>
                        <div class="col-10">
                            <strong>{{ attribute(ecole, 'tech' ~ i ~ 'Nom')|upper }}</strong>
                            <p class="text-justify">{{ attribute(ecole, 'tech' ~ i ~ 'Desc')|raw|nl2br }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if ecole.techSpecialNom is not empty %}
                <strong>{{ ecole.techSpecialNom|upper }}</strong>
                <p class="text-justify">{{ ecole.techSpecialDesc|raw|nl2br }}</p>
            {% endif %}

        </div>
    </section>

    {% if ecole.sorts is defined and ecole.sorts is not empty %}
        {% set magie = true %}
    {% else %}
        {% set magie = false %}
    {% endif %}

    {% if magie == true %}
        <!-- MAGIE -->
        <section class="col-4 pl-1 pt-1">
            <div class="card card-body pt-4 h-100">
                <h2 class="card-title"><strong>Magie</strong></h2>
                <hr>

                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h4>Affinité</h4>
                        <span class="text-xp text-large">{{ecole.affinite}}</span>
                    </div>
                    <div class="mt-3">
                        <h4>Déficience</h4>
                        <span class="text-dead text-large">{{ecole.deficience}}</span>
                    </div>

                    <div class="mt-3">
                        <h4>Sorts de départ</h4>
                        {{ecole.sorts|raw}}
                    </div>
                </div>

            </div>
        </section>
    {% endif %}

    <!-- PERSONNAGES DE CETTE ECOLE -->
    <section class="{% if magie == false %}col-4 pl-1 pt-1{% else %}col-12 pt-1{% endif %}">
        <div class="card card-body h-100">
            <h2 class="card-title"><strong>Personnages</strong></h2>
            <hr>

            <div class="row justify-content-center px-3">
                <!-- UN PERSONNAGE -->
                {% for un_personnage in ecole.personnages %}
                    <article class="p-1 hover-zoom-x2">
                        <a href="{{ path('personnage_profil', {id: un_personnage.id} ) }}">
                            <img class="img-128" src="{{ asset(un_personnage.icone) }}" alt="Icône d'un personnage" title="Voir le profil de {{un_personnage.prenom}}" />
                        </a>
                    </article>
                {% else %}
                    <span class="text-muted"><i>Il n'y a pas encore de personnage de cette école.</i></span>
                {% endfor %}
            </div>

        </div>
    </section>

    <!-- AUTRES ECOLES DE CE CLAN -->
    <section class="col-12 pt-1">
        <div class="card card-body h-100">
            <h2 class="card-title"><strong>Autres Écoles {{ecole.clan.nom}}</strong></h2>
            <hr>

            <div class="row px-3">
                <!-- UNE ECOLE -->
                {% for une_ecole in ecole.clan.ecoles|filter(autre_ecole => autre_ecole.id != ecole.id) %}
                    <article class="col-2 text-center mb-4 hover-zoom-x2">
                        <a href="{{ path('regles_ecole', {id: une_ecole.id} ) }}" ><strong>{{ une_ecole.nom }}</strong></a>
                        <a href="{{ path('regles_ecole', {id: une_ecole.id} ) }}">
                            <img class="img-fluid" src="{{ asset(une_ecole.image) }}" alt="Image d'une école" />
                        </a>
                    </article>
                {% else %}
                    <span class="text-muted"><i>Il n'y a pas encore d'autres écoles dans ce clan.</i></span>
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}
