{% extends 'category.html.twig' %}
{% block title %}Les Règles de l'Aventure {{ parent() }}{% endblock %}

{% block section_content1 %}
    <!--- REGLES DE BASES -->
    <div class="w-100 row justify-content-center">
        {% for uneRule in rulesSimplesBases %}

            <!--- UNE REGLE DE BASE -->
            <a class="col-3 text-center hover-zoom" href="{{ path('regles_rule', {id: uneRule.id} ) }}">
                <img class="img-fluid" src="{{ asset(uneRule.image) }}" alt="Image de la Règle" title="{{uneRule.nom}}" />
                <br>
                <h3 class="text-regular my-2">
                    <strong>{{ uneRule.nom }}</strong>
                </h3>
            </a>

        {% endfor %}
    </div>
{% endblock %}

{% block section_content2 %}
    <!--- LES CLASSES -->
    <div class="w-100 row justify-content-center">
        {% for une_classe in classes %}

            <!--- UNE CLASSE -->
            <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 text-center hover-zoom">
                <a href="{{ path('regles_classe', {id: une_classe.id} ) }}">
                    <img class="img-160 hover-{{une_classe.nom|lower}}" src="{{ asset(une_classe.icone) }}" alt="Icône de la classe" title="{{une_classe.nom}}" />
                </a>
                <br/>
                <h3 class="text-center my-3">
                    <strong><a class="link-secondary" href="{{ path('regles_classe', {id: une_classe.id} ) }}">{{ une_classe.nom }}</a></strong>
                </h3>
            </article>

        {% endfor %}
    </div>
{% endblock %}

{% block section_content3 %}
    <!--- BIBLIOTHEQUES -->
    <div class="w-100 row justify-content-center">
        {% for une_bibliotheque in rulesBibliothequesBases %}

            <!--- UNE BIBLIOTHEQUE -->
            <a class="col-2 text-center hover-zoom"
                href="{% if une_bibliotheque.pdf is defined and une_bibliotheque.part1 is empty %}
                            {{ asset(une_bibliotheque.pdf) }}
                      {% else %}
                            {{ path('regles_rule', {id: une_bibliotheque.id} ) }}
                    {% endif %}">
                <img class="img-fluid" src="{{ asset(une_bibliotheque.image|default(asset('assets/img/placeholders/na_rule.jpg'))) }}" alt="Image de la Règle" title="{{une_bibliotheque.nom}}" />
                <br>
                <h3 class="text-small my-2">
                    <strong>{{ une_bibliotheque.nom }}</strong>
                </h3>
            </a>

        {% endfor %}
    </div>
{% endblock %}

{% block section_content4 %}
    <!--- REGLES DIVERS -->
    <div class="w-100 row justify-content-center">
        {% for uneRuleAnnexe in rulesAnnexes %}

            <!--- UNE REGLE DIVERS -->
            <a class="col-2 text-center hover-zoom"
                href="{% if uneRuleAnnexe.pdf is defined and uneRuleAnnexe.part1 is empty %}
                            {{ asset(uneRuleAnnexe.pdf) }}
                      {% else %}
                            {{ path('regles_rule', {id: uneRuleAnnexe.id} ) }}
                    {% endif %}">
                <img class="img-fluid" src="{{ asset(uneRuleAnnexe.image|default(asset('assets/img/placeholders/na_rule.jpg'))) }}" alt="Image de la Règle" title="{{uneRuleAnnexe.nom}}" />
                <br>
                <h3 class="text-small my-2">
                    <strong>{{ uneRuleAnnexe.nom }}</strong>
                </h3>
            </a>

        {% endfor %}
    </div>
{% endblock %}