{% extends 'base.html.twig' %}

{% block title %}L'Univers de l'Aventure {{ parent() }}{% endblock %}

{% block body %}
<header class="en-tete-fond" style="background-image: linear-gradient(rgb(40,0,0,0.5),rgb(40,0,0,0.5)),url('{{ asset('assets/img/rubriques/regles.jpg') }}');">
    <div class="container">
        <div class="en-tete d-flex flex-column justify-content-center align-items-center">
            <div class="text-center d-flex justify-content-center"><strong class="h1">Mécaniques de Jeu</strong></div>
            <hr class="w-50">     
            <h1 class="stylise grand">{{ 'Régles'|stylise|raw }}</h1>
        </div>
    </div>
</header>

<main class="container-fluid bg-light pt-5">
    <div class="container">
        <section id="classes">
            <h2 class="display-4">Les <strong>Classes</Strong> :</h2>
            <hr>
            <br/>
            <div class="row pb-5">
{% for une_classe in classes %}
                <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 text-center">
                    <a href="{{ path('regles_classe', {id: une_classe.id} ) }}">
                        <img class="img-160" src="{{ asset(une_classe.icone) }}" alt="Icône de la classe" />
                    </a>
                    <br/>
                    <h3 class="text-center my-3">
                        <strong><a href="{{ path('regles_classe', {id: une_classe.id} ) }}">{{ une_classe.nom }}</a></strong>
                    </h3>
                </article>
{% else %}
                <small class="text-muted">Désolé ! Il n'y a pas encore de classe disponible !</a>
{% endfor %}
            </div>
        </section>

        <section id="ecoles">
            <h2 class="display-4 mt-5">Toutes les <strong>Écoles</Strong> :</h2>
            <hr>
            <br/>
            <div class="row">
{% for une_ecole in ecoles %}
                <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 text-center">
                    <div class="inline-block ">
                        <a href="{{ path('regles_ecole', {id: une_ecole.id} ) }}">
                            <img class="img-fluid ancre-relatif" src="{{ asset(une_ecole.image) }}" alt="Image de l'école" />
                        </a>
                        <img class="badge-coin bg-white" style="border-radius: 2rem;" src="{{ asset(une_ecole.classe.icone) }}" alt="Icône de la Classe de l'École" />
                        <img class="coin-droit img-36 bg-white" style="top: 2.5rem; left:-4px; border: solid white; border-radius: 2rem;" src="{{ asset(une_ecole.clan.mon) }}" alt="Mon du Clan de l'École" />
                        <br/>
                        <h5 class="text-center my-3">
                            <strong><a href="{{ path('regles_ecole', {id: une_ecole.id} ) }}">{{ une_ecole.nom }}</a></strong>
                        </h5>
                    </div>
                </article>
{% else %}
                <small class="text-muted">Désolé ! Il n'y a pas encore d'école disponible !</a>
{% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
