{% set i = 1 %}
{% set library = un_element %}

<!-- HEADING -->
<heading class="col-12 list-heading">

    <!-- MJ ADD -->
    {% if app.user and is_granted("ROLE_MJ") %}
        {% set action, entity, redirect, position, color, size = 'create', 'sort', 'library&libraryID=' ~ library.id ~ '&tab=' ~ app.request.get('tab'), 'left-overflow', 'link-accent', 'btn-icon-mini' %}
        {{ include('/btns/btn-icon.html.twig') }}
    {% endif %}

    <span>Nom</span>
    <right class="ml-auto">
        <span class="ml-4">Niveau de Maîtrise</span>
    </right>
</heading>

{% for item in items %}

    <!-- ITEM - SORT -->
    <div class="col-12 p-0 m-0 relative">

        <!-- MJ EDIT -->
        {% if app.user and is_granted("ROLE_MJ") %}
            {% set position, size, color, entity, un_element, redirect = 'left-overflow', 'btn-icon-mini', 'link-accent', 'sort', item, 'library&libraryID=' ~ library.id %}
            {{ include('/parts/btn-icon-edit.html.twig') }}
        {% endif %}

        <a href="#collapse{{i}}" class="card item" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse{{i}}">

            <!-- VISIBLE LINE -->
            <line class="item-line">
                <strong class="item-name">{{ item.nom }}</strong>
                {% if item.motCle1 %}
                    <div class="ml-2">
                        <span class="badge badge-secondary">{{item.motCle1}}</span>
                    </div>
                {% endif %}
                {% if item.motCle2 %}
                    <div class="ml-2">
                        <span class="badge badge-secondary">{{item.motCle2}}</span>
                    </div>
                {% endif %}
                {% if item.anneau is defined %}
                    {% if item.anneau == 'AIR' %}
                        {% set icone = AIR %}
                    {% elseif item.anneau == 'EAU' %}
                        {% set icone = EAU %}
                    {% elseif item.anneau == 'FEU' %}
                        {% set icone = FEU %}
                    {% elseif item.anneau == 'TERRE' %}
                        {% set icone = TERRE %}
                    {% elseif item.anneau == 'VIDE' %}
                        {% set icone = VIDE %}
                    {% endif %}
                {% endif %}

                <right class="ml-auto">
                    <span class="badge p-0 m-0 text-{{item.anneau}}">
                        <img class="img-24" src="{{asset(icone|default(NA_ICON))}}" />
                        {{item.anneau}}
                    </span>
                    <strong class="ml-2 text-outline-{{item.niveau}}">
                        {{ item.niveau }}
                    </strong>
                </right>
            </line>

            <!-- COLLAPSED CONTENT -->
            <collapse id="collapse{{i}}" class="collapse">
                <p class="p-2 m-0 item-description">{{ item.description|raw|nl2br }}</p>
                <div id="capacite">
                    <ul>
                        <li><span class="text-muted">Portée :</span> {{item.portee}}</li>
                        <li><span class="text-muted">Zone d'Effet :</span> {{item.zone}}</strong></li>
                        <li><span class="text-muted">Durée :</span> {{item.duree}}</li>
                        <li><span class="text-muted">Augmentations :</span> {{item.augmentations}}</li>
                    </ul>
                </div>
            </collapse>

        </a>
    </div>

    {% set i = i + 1 %}
{% endfor %}