{% extends 'element.html.twig' %}

{% block element_content %}

    <section class="col-12 p-1 mb-3">
        <div class="list-group">
            {% for i in 1..5 %}
                {% if attribute(rule, 'part' ~ i ~ 'titre') is defined and attribute(rule, 'part' ~ i ~ 'titre') is not empty %}
                    <a class="list-group-item list-group-item-action" href="#{{i}}" ><strong>{{ attribute(rule, 'part' ~ i ~ 'titre') }}</strong></a>
                {% endif %}
            {% endfor %}
        </div>
        <img class="img-fluid w-100 mt-3" src="{{asset(rule.image)}}" />
    </section>

    {% for i in 1..5 %}
        {% if attribute(rule, 'part' ~ i ~ 'titre') is defined and attribute(rule, 'part' ~ i ~ 'titre') is not empty %}
        <hr class="col-12 mb-3">
        <section id="{{i}}" class="col-8 p-1 mt-3 mb-3">
            <card class="card card-body">
                <h2>{{ attribute(rule, 'part' ~ i ~ 'titre') }}</h2>
                <hr>
                <p class="text-justify text-regular p-2">{{ attribute(rule, 'part' ~ i)|raw|nl2br }}</p>
            </card>
        </section>
        {% endif %}

        {% if attribute(rule, 'part' ~ i ~ 'aside') is not empty %}
            <section class="col-4 p-1 mt-3 mb-3">
                <aside class="aside">
                    <p class="p-1 text-small text-justify">{{ attribute(rule, 'part' ~ i ~ 'aside')|raw|nl2br }}</p>
                </aside>
            </section>
        {% endif %}

    {% endfor %}


{% endblock %}
