{% extends 'element.html.twig' %}

{% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{asset('css/page-rule.css')}}" />
{% endblock %}

{% block element_content %}

    <!-- IMAGE & SUMMARY -->
    <cardtopimg class="col-12 card-top-img">

        <!-- SOMMAIRE -->
        {% if rule.part1 is defined and rule.part1 is not empty and rule.part2 is defined and rule.part2 is not empty %}
        {% set gradient_left = 'gradient-left' %}
            <summary id="sommaire">
                <header>SOMMAIRE</header>
                {% for i in 1..5 %}
                    {% if attribute(rule, 'part' ~ i ~ 'titre') is defined and attribute(rule, 'part' ~ i ~ 'titre') is not empty %}
                        <a class="list-group-item list-group-item-action" href="#part{{i}}">{{i}}. {{ attribute(rule, 'part' ~ i ~ 'titre') }}</a>
                    {% endif %}
                {% endfor %}
            </summary>
        {% endif %}

        <!-- IMAGE -->
        {% if rule.pdf is defined and rule.pdf is not empty %}
            <a href="{{asset(rule.pdf)}}"><img class="img-fluid w-100" src="{{ asset(rule.image|default(NA_PDF)) }}" /></a>
        {% else %}
            <div class="ratio-1610 {{gradient_left|default('')}}"><img class="ratio-cropped" src="{{ asset(rule.image|default(NA_RULE)) }}" /></div>
        {% endif %}

    </cardtopimg>

    <cardcontent class="col-12 card-content">

        <!-- PART 1 TO 5 -->
        {% for i in 1..5 %}

            <!-- HEADER TITLE -->
            {% if attribute(rule, 'part' ~ i ~ 'titre') is defined and attribute(rule, 'part' ~ i ~ 'titre') is not empty %}
                <cardheader id="part{{i}}" class="part-header">

                    <!-- MJ EDIT -->
                    {% if app.user and is_granted("ROLE_MJ") %}
                        {% set position, size, color, entity, un_element, redirect, fragment = 'right-snap', 'btn-icon-medium', 'text-accent', 'rule', rule, 'rule', 'part' ~ i %}
                        {{ include('/parts/btn-icon-edit.html.twig') }}
                    {% endif %}
                    
                    <h2 class="title-h3">{{i}}. {{ attribute(rule, 'part' ~ i ~ 'titre') }}</h2>
                    <hr>
                </cardheader>
            {% endif %}

            <!-- TEXT + ASIDE -->
            {% if attribute(rule, 'part' ~ i) is defined and attribute(rule, 'part' ~ i) is not empty %}
                <cardbody class="part-body">
                    <!-- ASIDE -->
                    {% if attribute(rule, 'part' ~ i ~ 'aside') is defined and attribute(rule, 'part' ~ i ~ 'aside') is not empty %}
                        <aside class="aside">
                            <p>{{ attribute(rule, 'part' ~ i ~ 'aside')|raw|nl2br }}</p>
                        </aside>
                    {% endif %}
                    <!-- TEXT -->
                    <div>{{ attribute(rule, 'part' ~ i)|raw|nl2br }}</div>
                </cardbody>
                <spacer class="spacer">{{ include('/parts/separateur-ornament.html.twig') }}</spacer>
            {% endif %}

        {% endfor %}
        
    </cardcontent>

    <!-- AUTRES -->
    {% if autresRules is defined and autresRules is not empty %}
        <other id="other" class="col-12">
            <h2 class="title-h3">Autres Règles {% if rule.base %}de Bases{% else %}Annexes{% endif %}</h2>
            <hr>
            <row class="row">
                {% set col, size, na_image = 'col-2', 'small', NA_RULE %}
                {% for un_element in autresRules %}
                    {% if un_element.listEntity is defined and un_element.listEntity is not empty %}
                        {% set na_image = NA_LIBRARY %}
                    {% endif %}
                    {{ include('/parts/element-vignette.html.twig', {un_element}) }}
                {% endfor %}
            </row>
        </other>
    {% endif %}

{% endblock %}
