<main class="col-12">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-start mt-5 mb-4">

            <!-- IMAGE -->
            <div class="col-6">
                {{ form_label(form.image) }}
                <label id="preview-label" for="admin_ecole_image" class="{% if type != 'Modifier' %}d-none{% endif %} hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible link-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{% if type == 'Modifier' %}{{ asset(ecole.image|default('assets/img/placeholders/1280x720.jpg')) }}{% endif %}" />
                </label>
                <browse id="browse-label">
                    <span id="fileName"></span>
                    {{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}
                </browse> 
            </div>

            <div class="col-6">
                {{ form_row(form.nom) }}

                {{ form_row(form.clan) }}

                {{ form_row(form.classe) }}

                {{ form_row(form.bonus) }}
            </div> 

            <div class="col-12 mt-4">
                {{ form_row(form.description,{ 'attr': {'rows': '8'} }) }}
            </div>

            <div class="col-6 mt-3">
                {{ form_row(form.competences,{ 'attr': {'rows': '8'} }) }}
            </div>

            <div class="col-6 mt-3">
                {{ form_row(form.equipements,{ 'attr': {'rows': '8'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Technique #1</h2>
                <hr>
                {{ form_row(form.tech1Nom) }}
            </div>

            <div class="col-12">
                {{ form_row(form.tech1Desc,{ 'attr': {'rows': '6'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Technique #2</h2>
                <hr>
                {{ form_row(form.tech2Nom) }}
            </div>

            <div class="col-12">
                {{ form_row(form.tech2Desc,{ 'attr': {'rows': '6'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Technique #3</h2>
                <hr>
                {{ form_row(form.tech3Nom) }}
            </div>

            <div class="col-12">
                {{ form_row(form.tech3Desc,{ 'attr': {'rows': '6'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Technique #4</h2>
                <hr>
                {{ form_row(form.tech4Nom) }}
            </div>

            <div class="col-12">
                {{ form_row(form.tech4Desc,{ 'attr': {'rows': '6'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Technique #5</h2>
                <hr>
                {{ form_row(form.tech5Nom) }}
            </div>

            <div class="col-12 mt-3">
                {{ form_row(form.tech5Desc,{ 'attr': {'rows': '6'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Magie</h2>
                <hr>
            </div>

            <div class="col-4 mt-3">
                {{ form_row(form.affinite) }}
                {{ form_row(form.deficience) }}
                {{ form_row(form.sorts,{ 'attr': {'rows': '5'} }) }}
            </div>

            <div class="col-8 mt-3">
                {{ form_row(form.techSpecialNom) }}
                {{ form_row(form.techSpecialDesc,{ 'attr': {'rows': '9'} }) }}
            </div>

            <div class="col-12 text-center mt-5">
                <button class="btn btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</main>