<main class="col-12">
    {{ form_start(form) }}
        <div class="row form-wrapper">

            <div class="col-3">{{ form_row(form.nom) }}</div>
            <div class="col-3">{{ form_row(form.clan) }}</div>
            <div class="col-3">{{ form_row(form.classe) }}</div>
            <div class="col-3">{{ form_row(form.bonus) }}</div>

            <div class="col-12 mt-4">{{ form_row(form.description,{ 'attr': {'rows': '8'} }) }}</div>

            <div class="col-6 mt-3">{{ form_row(form.competences,{ 'attr': {'rows': '8'} }) }}</div>
            <div class="col-6 mt-3">{{ form_row(form.equipements,{ 'attr': {'rows': '8'} }) }}</div>

            <!-- IMAGE -->
            <div class="col-12 mt-3 mb-4">
                {{ form_label(form.image) }}
                <label for="admin_ecole_image" class="preview-label hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible text-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{{ asset(ecole.image|default(NA_169)) }}" />
                    <span id="image-filename" class="filename"></span>
                </label>
                <div class="browser">{{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}</div> 
            </div>

            <!-- TECH 1 -->
            <div class="col-12 mt-5">
                <h2 class="title-h3">Technique #1</h2>
                <hr>
                {{ form_row(form.tech1Nom) }}
            </div>
            <div class="col-12">{{ form_row(form.tech1Desc,{ 'attr': {'rows': '6'} }) }}</div>

            <!-- TECH 3 -->
            <div class="col-12 mt-5">
                <h2 class="title-h3">Technique #2</h2>
                <hr>
                {{ form_row(form.tech2Nom) }}
            </div>
            <div class="col-12">{{ form_row(form.tech2Desc,{ 'attr': {'rows': '6'} }) }}</div>

            <!-- TECH 3 -->
            <div class="col-12 mt-5">
                <h2 class="title-h3">Technique #3</h2>
                <hr>
                {{ form_row(form.tech3Nom) }}
            </div>
            <div class="col-12">{{ form_row(form.tech3Desc,{ 'attr': {'rows': '6'} }) }}</div>

            <!-- TECH 4 -->
            <div class="col-12 mt-5">
                <h2 class="title-h3">Technique #4</h2>
                <hr>
                {{ form_row(form.tech4Nom) }}
            </div>
            <div class="col-12">{{ form_row(form.tech4Desc,{ 'attr': {'rows': '6'} }) }}</div>

            <!-- TECH 5 -->
            <div class="col-12 mt-5">
                <h2 class="title-h3">Technique #5</h2>
                <hr>
                {{ form_row(form.tech5Nom) }}
            </div>
            <div class="col-12 mt-3">{{ form_row(form.tech5Desc,{ 'attr': {'rows': '6'} }) }}</div>

            <!-- MAGIE -->
            <div class="col-12 mt-5">
                <h2 class="title-h3">Magie</h2>
                <hr>
            </div>

            <div class="col-4 mt-3">
                {{ form_row(form.affinite) }}
                {{ form_row(form.deficience) }}
                {{ form_row(form.sorts,{ 'attr': {'rows': '5'} }) }}
            </div>

            <div class="col-8 mt-3">
                {{ form_row(form.techSpecialNom) }}
                {{ form_row(form.techSpecialDesc,{ 'attr': {'rows': '9'} }) }}
            </div>

            {{ include('/parts/btn-form.html.twig') }}
        </div>
    {{ form_end(form) }}
</main>
