<main class="offset-2 col-8">
    {{ form_start(form) }}
        {% if type != 'Créer' %}
            {% if ecole.image is not empty %}
                <img class="img-fluid" src="{{ asset(ecole.image) }}" />
            {% else %}
                <img class="img-fluid" src="{{ asset('assets/img/placeholders/na_ecole.png') }}" />
            {% endif %}
        {% endif %}
        {{ form_row(form.image) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
    {{ form_end(form) }}
</main>