{% set path = 'admin_' ~ entity ~ '_' ~ action %}

{% if redirect is defined and redirect is not empty %}
    {% set frag_redir = 'redirect=' ~ redirect %}
    {% if action == 'delete' %}
        {% set frag_redir = '&' ~ frag_redir %}
    {% endif %}
{% endif %}

{% if fragment is defined and fragment is not empty %}
    {% set fragment = '#' ~ fragment %}
{% endif %}

{% if action == 'create' %}
    {% set href = path(path) %}
    {% set fa_icon, label = 'fa-plus-square', 'Ajouter' %}
{% else %}
    {% set href = path(path, {id:un_element.id}) %}
    {% if action == 'edit' %}
        {% set fa_icon, label = 'fa-edit', 'Modifier' %}
    {% elseif action =='delete' %}
        {% set frag_csrf = "csrf=" ~ csrf_token('delete' ~ un_element.id) %}
        {% set fa_icon, label = 'fa-trash-alt', 'Supprimer' %}
    {% endif %}
{% endif %}

{% set href = href ~ '?' ~ frag_csrf|default('') ~ frag_redir|default('') ~ fragment|default('') %}

<a  href="{{href}}" class="{{position|default('')}} {{color}} {{size}}">
    <i class="fas {{fa_icon}}" alt="Icône {{label}}" title="{{label}}"></i>
</a>