{% extends 'base.html.twig' %}

{% block title %}Archive {{ parent() }}{% endblock %}

{% block body %}

    <main class="container-fluid bg-light">
        <section class="container pb-5">

            <!-- FIL D'ARIANE -->
            <nav class="pt-3">
                <span class="text-muted">
                    <a href="{{ path('aventure') }}"><i class="fas fa-home"></i></a>
                    > <a href="{{ path('empire') }}"><strong>Empire</strong></a>
                    > <a href="{{ path('empire', {'_fragment': 'archives'} ) }}"><strong>Archives</strong></a>
                    > <strong>{{ archive.titre }}</strong>
                </span>
            </nav>

            <!-- DEBUT DE l'ARTICLE -->
            <h1 class="mt-5 ancre-relatif">
                <strong>{{ archive.titre }}</strong>

                <!-- BTN - MJ -->
                {% if is_granted("ROLE_MJ") %}
                <div class="btn-mj-h2-edit-delete">
                    <a class="text-danger mx-2" href="{{ path('admin_archive_edit', {id:archive.id}) }}?redirect=archive"><i class="fas fa-edit"></i></a>
                    <a class="text-danger mx-2" href="{{ path('admin_archive_delete', {id:archive.id}) }}?csrf={{ csrf_token('delete' ~ archive.id) }}&redirect=archive" onclick="return confirm('Êtes-vous sûr de vouloir supprimer l'archive : {{ archive.titre }} ?')"><i class="fas fa-trash-alt"></i></a>
                </div>
                {% endif %}
                
            </h1>

            <hr>

            <article class="row">

                <div class="col-12 text-center">
                    <img class="img-fluid" src="{{ asset(archive.image) }}" alt="Image de l'Archive" />
                </div>
                
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ archive.contenu|raw|nl2br }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Auteur&nbsp;:</strong>
                                    {% if archive.auteur is not empty %}
                                        {{ archive.auteur.nom }} <strong>{{ archive.auteur.prenom }}</strong>
                                    {% else %}
                                        n/a
                                    {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>

            </article>

        </section>
    </main>

{{ include('/parts/modal.html.twig') }}

{% endblock %}
