{% extends 'base.html.twig' %}
{% block title %}Archive {{ parent() }}{% endblock %}
{% block body %}

    <main class="container-fluid bg-light">
        <section class="container pb-5">

            <!-- FIL D'ARIANE -->
            <nav class="pt-3">
                <span class="text-muted">
                    <a href="{{ path('aventure') }}"><i class="fas fa-home"></i></a>
                    > <a href="{{ path('empire') }}"><strong>Empire</strong></a>
                    > <a href="{{ path('empire', {'_fragment': 'archives'} ) }}"><strong>Archives</strong></a>
                    > <strong>{{ archive.titre }}</strong>
                </span>
            </nav>

            <!-- ARTICLE -->
            <h1 class="mt-5 relative">
                <strong>{{ archive.titre }}</strong>

                {% if app.user and is_granted("ROLE_MJ") %}
                    <!-- MJ - BTN ICON - Edit -->
                    {% set redirect, element, un_element, size, color, position = 'empire', 'archive', archive, 'medium', 'accent-color', 'right-snap' %}
                    {{ include('/parts/btn-icon-edit.html.twig') }}
                {% endif %}
                
            </h1>
            <hr>

            <!-- CONTENU -->
            <article class="row">
                <!-- IMAGE -->
                <div class="col-12 text-center">
                    <img class="img-fluid" src="{{ asset(archive.image) }}" alt="Image de l'Archive" />
                </div>
                <div class="col-12">
                    <div class="card pb-4">
                        <div class="card-body">
                            <p class="card-text mt-3 mx-5 text-justify">{{ archive.contenu|raw|nl2br }}</p>
                        </div>
                        {% if archive.auteur is not empty %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Auteur&nbsp;:</strong> {{ archive.auteur.nom }} <strong>{{ archive.auteur.prenom }}</strong> 
                                </li>
                            </ul>
                        {% endif %}
                        {{ include('/parts/separateur-ornament.html.twig') }}

                        {% if app.user and is_granted("ROLE_MJ") %}
                        <div class="mt-3 text-center">
                            <!-- MJ - BTN ICON - Delete -->
                            {% set redirect, element, un_element, color, action = 'empire', 'archive', archive, 'accent-color', 'delete' %}
                            {{ include('/parts/btn-edit-delete.html.twig') }}
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </article>


        </section>
    </main>

{{ include('/parts/modal.html.twig') }}

{% endblock %}
