{% extends 'element.html.twig' %}
{% block element_content %}

<!-- IMAGE -->
<div class="col-12 text-center">
    <img class="img-fluid" src="{{ asset(un_element.image|default('assets/img/placeholders/1280x720.jpg')) }}" alt="Image de {{ nom }}" />
</div>

<!-- CARD CONTAINER -->
<div class="col-12 mb-5">

    <!-- CARD -->
    <div class="card pb-4">

        <!-- CARD BODY -->
        <div class="card-body">
            <p class="card-text mt-3 mx-5 text-justify">{{ un_element.contenu|raw|nl2br }}</p>
        </div>

        <!-- AUTEUR -->
        {% if un_element.auteur is not empty %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Auteur&nbsp;:</strong> {{ un_element.auteur.nom }} <strong>{{ un_element.auteur.prenom }}</strong> 
                </li>
            </ul>
        {% endif %}

        <!-- ORNAMENT -->
        {{ include('/parts/separateur-ornament.html.twig') }}

        <!-- BTN -->
        {% if app.user and is_granted("ROLE_MJ") %}
            <div class="mt-3 text-center">
                <!-- MJ BTN LINE Delete -->
                {% set redirect, element, un_element, color, action = 'empire', 'archive', un_element, 'text-accent', 'delete' %}
                {{ include('/parts/btn-line.html.twig') }}
            </div>
        {% endif %}
        
    </div>
    <!-- END CARD -->

</div>
<!-- END CARD CONTAINER -->

{% endblock %}
