{% extends 'base.html.twig' %}

{% block title %}Fiche d'un Clan {{ parent() }}{% endblock %}

{% block body %}

    <main class="container-fluid bg-light">
        <section class="container">
        
            <nav class="pt-3">
                <span class="text-muted">
                    <a href="{{ path('aventure') }}"><i class="fas fa-home"></i></a>
                    > <a href="{{ path('empire') }}"><strong>Empire</strong></a>
                    > <a href="{{ path('empire', {'_fragment': 'clans'} ) }}"><strong>Clans</strong></a>
                    > <strong>{{ clan.nom }}</strong>
                </span>
            </nav>


            <h1 class="pt-5">Le Clan <strong>{{ clan.nom }}</strong></h1>
            <hr/>
            <article class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                    <img class="img-fluid" src="{{ asset(clan.mon) }}" alt="Mon du Clan" />
                </div>
                
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><strong>Description :</strong></p>
                            <p class="card-text">{{ clan.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Statut&nbsp;:</strong>
                                    {% if clan.estMajeur == 1 %}
                                        <strong class="text-warning">Clan Majeur</strong>
                                    {% else %}
                                        n/a
                                    {% endif %}
                            </li>
                            <li class="list-group-item">
                                <strong>Chef&nbsp;:</strong>
                                    {% if clan.chef %}
                                        <a href="{{ path('personnage_profil', {id: clan.chef.id} ) }}">
                                            <img class="img-64" src="{{ asset(clan.chef.icone) }}" alt="Icône du personnage" />
                                            {{ clan.chef.nom }} <strong>{{ clan.chef.prenom }}</strong>
                                        </a>
                                    {% else %}
                                        <small class="text-muted">n/a</small>
                                    {% endif %}
                            </li>
                            <li class="list-group-item">
                                <strong>Couleur&nbsp;:</strong> <span class="img-32" style="background-color: {{ clan.couleur }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                </div>

                {# ECOLES DU CLAN #}
                <section class="col-12 my-3">
                    <div class="card card-body h-100">
                        <h2 class="card-title py-3"><strong>Écoles</strong> du clan {{ clan.nom }} :</h2>
                        <div class="card-text ml-3">
                            {% for une_ecole in clan.ecoles %}
                                <div class="mb-2 row align-items-center ancre-relatif">
                                    <div class="col-12 col-lg-4">
                                        <a href="{{ path('regles_ecole', {id: une_ecole.id} ) }}">
                                            <img class="img-fluid" src="{{ asset(une_ecole.image) }}" alt="Image d'une école" />
                                        </a>
                                    </div>
                                    <div class="col row">
                                        <div class="col-6">
                                            <strong>Nom :</strong>
                                            <h3><strong><a href="{{ path('regles_ecole', {id: une_ecole.id} ) }}" >{{ une_ecole.nom }}</a></strong></h3>
                                        </div>
                                        <div class="col-6">
                                            <strong>Classe :</strong><br/>
                                            <a href="{{ path('regles_classe', {id: une_ecole.classe.id} ) }}" >
                                                <img class="img-96" src="{{ asset(une_ecole.classe.icone) }}" alt="Icône de la Classe" />
                                            </a>
                                        </div>
                                        <div class="col-12"><strong>Description :</strong><br/>{{ une_ecole.description }}</div>
                                    </div>
                                    <a class="btn btn-primary coin-droit" href="{{ path('regles_ecole', {id: une_ecole.id} ) }}" >Voir les techniques</a>
                                </div>
                                <hr>
                            {% else %}
                                <span class="text-muted">Désolé ! Il n'y a pas encore d'école disponible pour ce clan !</span>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <div class="col-12">
                    <div class="card my-3 card-body">
                        <h2 class="card-title"><strong>Personnages</strong> du clan {{ clan.nom }} :</h2>
                        <div class="card-text ml-3">
                            {% for un_personnage in clan.personnages %}
                                <a href="{{ path('personnage_profil', {id: un_personnage.id} ) }}">
                                    <img class="img-128" src="{{ asset(un_personnage.icone) }}" alt="Icône du personnage" />
                                </a>
                            {% else %}
                                <span class="text-muted">Désolé ! Il n'y a pas encore de personnages disponible pour ce clan !</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </article>

        </section>
    </main>

{{ include('/parts/modal.html.twig') }}

{% endblock %}
