{% extends 'base.html.twig' %}

{% block title %}L'Univers de l'Aventure {{ parent() }}{% endblock %}

{% block body %}
<header class="en-tete-fond"
style="background-image: linear-gradient(rgb(40,0,0,0.5),rgb(40,0,0,0.5)),url('{{ asset('assets/img/rubriques/empire.jpg') }}');">
    <div class="container">
        <div class="en-tete d-flex flex-column justify-content-center align-items-center">

            <div class="text-center d-flex justify-content-center"><strong class="h1">Univers du Jeu</strong></div>

            <hr class="w-50">     
            <h1 class="stylise grand">{{ 'L\'Empire<br/> de Rokugan'|stylise|raw }}</h1>

        </div>
    </div>
</header>
<main class="container-fluid bg-light pt-5">
    <div class="container">

        <!-- LES ARCHIVES -->
        <section id="archives">
            <h2 class="display-4 relative">
                Les <strong>Archives</strong>

                <!-- BTN - MJ - AJOUTER UNE ARCHIVE -->
                {% if is_granted("ROLE_MJ") %}
                <div class="btn-mj-h2-create">
                    <a href="{{ path('admin_archive_create') }}?redirect=archive" class="btn btn-primary">
                        <i class="fas fa-plus-square"></i>&nbsp;&nbsp;Ajouter une archive
                    </a>
                </div>
                {% endif %}

            </h2>

            <hr>
            
            <br/>
            <div class="row">
            {% for une_archive in archives %}
                <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 text-center">
                {% if une_archive.locked == 1 %}
                    <img src="{{asset('assets/img/icons/locked.png')}}" alt="Vérrouillée" style="width: 40px; position: absolute; top: 32px; left: 76px; z-index: 1;" />
                    <img class="img-160" src="{{ asset(une_archive.image) }}" alt="Image de l'Archive" style="filter: brightness(0.3)" />
                    <h3 class="text-center h5"><strong>???</strong></h3>
                {% else %}
                    <a href="{{ path('empire_archive', {id: une_archive.id} ) }}">
                        <img class="img-160" src="{{ asset(une_archive.image) }}" alt="Image de l'Archive" />
                    </a>
                    <h3 class="text-center h5">
                        <strong>
                            <a href="{{ path('empire_archive', {id: une_archive.id} ) }}">{{ une_archive.titre }}</a>
                        </strong>
                    </h3>
                {% endif %}
                </article>
            {% endfor %}
            </div>
        </section>

        <section id="clans" class="mt-4">
            <h2 class="display-4">Les <strong>Factions</strong></h2>
            <hr>
            <br/>
            <div class="row">
{% for un_clan in clans %}
                <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 text-center">
                    <a href="{{ path('empire_clan', {id: un_clan.id} ) }}"><img class="img-160" src="{{ asset(un_clan.mon) }}" alt="Mon du clan" /></a>
                    <br/>
                    <h3 class="text-center my-3"><strong><a href="{{ path('empire_clan', {id: un_clan.id} ) }}">{{ un_clan.nom }}</a></strong></h3>
                </article>
{% endfor %}
            </div>
        </section>

        <section id="lieux" class="mt-4">
            <h2 class="display-4">Les <strong>Lieux</strong></h2>
            <hr>
            <br/>
            <div class="row">
{% for un_lieu in lieux %}
                <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 text-center">
                    <a href="{{ path('empire_lieu', {id: un_lieu.id} ) }}">
                        <img class="img-160" src="{{ asset(un_lieu.image) }}" alt="Image du Lieu" />
                    </a>
                    <br/>
                    <h3 class="text-center my-3">
                        <strong>
                            <a href="{{ path('empire_lieu', {id: un_lieu.id} ) }}">{{ un_lieu.nom }}</a>
                        </strong>
                    </h3>
                </article>
{% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
