{% extends 'element.html.twig' %}
{% block element_content %}
<!-- IMAGE -->
<div class="col-12 text-center">
    <img class="img-fluid" src="{{ asset(un_element.image|default('assets/img/placeholders/1280x720.jpg')) }}" alt="Image de {{un_element.nom}}" />
</div>

<!-- CARD -->
<div class="col-12 mb-5">
    <div class="card">
        <div class="card-body px-5 py-0 relative">
            <p class="card-text mx-5 mt-4 mb-5 text-justify">{{ un_element.description|raw|nl2br }}</p>
            
            {% if un_element.clan is not empty %}
            <p class="text-right px-5">Contrôlé par
                <img class="ml-2 img-48" src="{{ asset(un_element.clan.mon) }}" />
                <strong>
                    <a href="{{ path('empire_clan', {id:un_element.clan.id} ) }}" >
                        {{ un_element.clan.nom }}
                    </a>
                </strong>
            </p>
            {% endif %}

            <hr>
            <div class="mt-5">
                <h2><strong>Localisation</strong></strong></h2>
            </div>

            <!-- CARTE REGION -->
            <div class="relative">

                <!-- MINI CARTE -->
                <div id="minimap" class="absolute">
                    <div class="relative overflow-hidden">

                        <!-- UI LOCALISATOR -->
                        <img class="absolute localisator-ui" style="left:{{un_element.locX}}%; top:{{un_element.locY}}%" src="{{asset('assets/img/ui/mini-localisator.png')}}" />

                        <img class="img-fluid" src="{{asset('assets/img/lieux/minimap.jpg')}}" alt="Carte de Rokugan">
                    </div>
                </div>

                <!-- ICON ANIMEE -->
                <span class="absolute localisator-icon" style="left:50%; top:50%">
                    <i class="fa-solid fa-caret-down fa-2xl fa-bounce"></i>
                </span>

                <img class="img-fluid" src="{{asset(un_element.region)}}" alt="Carte de la Région">
            </div>

            <br/>
            <!-- CARTE LIEU -->
            <img class="img-fluid" src="{{asset(un_element.carte)}}" alt="Carte du Lieu">
    
        </div>
        <!-- END CARD-BODY -->

    </div>
    <!-- END CARD -->

    {% if app.user and is_granted("ROLE_MJ") %}
    <div class="mt-3 text-center">
        <!-- MJ - BTN LINE - Delete -->
        {% set redirect, color, action = category, 'text-accent', 'delete' %}
        {{ include('/parts/btn-edit-delete.html.twig') }}
    </div>
    {% endif %}

</div>
{% endblock %}
