{% extends 'base.html.twig' %}
{% block title %}Lieu {{ parent() }}{% endblock %}
{% block body %}

    <main class="container-fluid bg-light">
        <section class="container pb-5">

            <!-- FIL D'ARIANE -->
            <nav class="pt-3">
                <span class="text-muted">
                    <a href="{{ path('aventure') }}"><i class="fas fa-home"></i></a>
                    > <a href="{{ path('empire') }}"><strong>Empire</strong></a>
                    > <a href="{{ path('empire', {'_fragment': 'lieux'} ) }}"><strong>Lieux</strong></a>
                    > <strong>{{ lieu.nom }}</strong>
                </span>
            </nav>

            <!-- TITRE -->
            <h1 class="pt-5 relative">
                Lieu <strong>{{ lieu.nom }}</strong>
            
                <!-- MJ - ICON BTN - Edit | Delete -->
                {% if app.user and is_granted("ROLE_MJ") %}
                    <div class="btn-icons-medium-right-container">
                        <a class="text-danger mx-2" href="{{ path('admin_lieu_edit', {id:lieu.id}) }}?redirect=lieu"><i class="fas fa-edit" alt="Icône Modifier" title="Modifier"></i></a>
                        <a class="text-danger mx-2" href="{{ path('admin_lieu_delete', {id:lieu.id}) }}?csrf={{ csrf_token('delete' ~ lieu.id) }}&redirect=lieu" onclick="return confirm('Êtes-vous sûr de vouloir supprimer le lieu : {{ lieu.nom }} ?')"><i class="fas fa-trash-alt" alt="Icône Supprimer" title="Supprimer"></i></a>
                    </div>
                {% endif %}
            
            </h1>
            <hr>

            <!-- CONTENU -->
            <article class="row">
                <!-- IMAGE -->
                <div class="col-12 text-center">
                    <img class="img-fluid" src="{{ asset(lieu.image) }}" alt="Image du Lieu" />
                </div>
                
                <!-- CARD CHAMPS 1 -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ lieu.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Clan&nbsp;:</strong>
                                    {% if lieu.clan is not empty %}
                                        <strong>{{ lieu.clan.nom }}</strong>
                                    {% else %}
                                        n/a
                                    {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- CARD CHAMPS 2 -->
                <div class="col-12 my-5">
                    <h2>Localisation</h2>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            Zoom :
                            <img class="img-fluid" src="{{ asset(lieu.carte) }}" alt="Carte du Lieu" />
                        </div>
                        <div class="col-6">
                            Coordonnées Rokugan : <strong>{{ lieu.coordinates }}</strong>
                            <img class="img-fluid" src="{{ asset('assets/img/placeholders/1280x720.png') }}" alt="Localisation sur Rokugan du Lieu" />
                        </div>
                    </div>
                </div>


            </article>

        </section>
    </main>

{{ include('/parts/modal.html.twig') }}

{% endblock %}
