{% extends 'element.html.twig' %}
{% block element_content %}

    <element class="col-12 pb-1">
        <card class="card pb-5">

            <!-- ILLUSTRATION-->
            <imagezone class="bg-black relative">

                <!-- SURIMPRESSION GAUCHE : ICONE + SURNOM -->
                {% if un_element.icone is defined and un_element.icone is not empty %}
                    <h2 class="icon-line-lieu-st">
                        <img class="img-96 ml-5 mr-1" src="{{ asset(un_element.icone) }}" alt="Icone de {{un_element.nom}}">
                        <i class="align-middle">{{ un_element.surnom }}</i>
                    </h2>
                {% endif %}

                <!-- SURIMPRESSION DROITE : CONTROLE PAR  -->
                {% if un_element.clan is not empty %}
                    <div class="text-center px-5 hover-zoom-x2" style="position: absolute; z-index: 5; right: 3rem; bottom: 1rem;">
                        <a class="link-white" href="{{ path('empire_clan', {id:un_element.clan.id} ) }}" >
                            <img class="ml-2 img-48" src="{{ asset(un_element.clan.mon) }}" alt="Mon d'une faction" title="{{un_element.clan.nom}}" />
                        </a>
                    </div>
                {% endif %}

                <!-- IMAGE -->
                <img class="img-fluid mask" src="{{ asset(un_element.image|default('assets/img/placeholders/1280x720.jpg')) }}" alt="Image de {{un_element.nom}}" />
            </imagezone>

            <!-- DESCRIPTION DE LA VILLE -->
            <p class="p-5 mx-5 text-justify text-medium">{{ un_element.description|raw|nl2br }}</p>

            <!-- LOCALISATION -->
            {% if un_element.region is defined and un_element.region is not empty %}
                <spacer class="my-3">{{ include('/parts/separateur-ornament.html.twig') }}</spacer>

                <h2 class="text-center mb-4"><strong>Localisation</Strong></h2>

                <imagezone class="relative">

                    <!-- MINI CARTE -->
                    <imagezone id="minimap" class="absolute">
                        <div class="relative overflow-hidden">

                            <!-- CAPTION -->
                            <div id="caption" class="absolute" style="z-index: 15; top: 0; left: 0; width: 100%; height: 100%">
                            </div>

                            <!-- UI LOCALISATOR -->
                            <img class="absolute localisator-ui" style="left:{{un_element.locX}}%; top:{{un_element.locY}}%" src="{{asset('assets/img/ui/mini-localisator.png')}}" />

                            <img class="img-fluid" src="{{asset('assets/img/lieux/minimap.jpg')}}" alt="Carte de Rokugan">
                        </div>
                    </imagezone>

                    <!-- ICON ANIMEE -->
                    <icon class="absolute localisator-icon" style="left:50%; top:50%">
                        <i class="fa-solid fa-caret-down fa-2xl fa-bounce"></i>
                    </icon>

                    <!-- IMAGE REGION -->
                    <img class="img-fluid" src="{{asset(un_element.region)}}" alt="Carte de la Région">

                </imagezone>
            {% endif %}

            <!-- CARTE INTERIEUR -->
            {% if un_element.carte is defined and un_element.carte is not empty %}
                <spacer class="my-3">{{ include('/parts/separateur-ornament.html.twig') }}</spacer>

                <h2 class="text-center mb-4"><strong>Carte Intérieur</Strong></h2>

               <img class="img-fluid" src="{{asset(un_element.carte)}}" alt="Carte du Lieu">
            {% endif %}

            <!-- QUARTIERS -->
            {% if un_element.quartiers is defined and un_element.quartiers is not empty %}
                <p class="mx-5 my-5 px-5 py-0 text-justify text-medium">{{ un_element.quartiers|raw|nl2br }}</p>
            {% endif %}

            <!-- ORNAMENT -->
            <spacer class="my-3">{{ include('/parts/separateur-ornament.html.twig') }}</spacer>

            <!-- BTN MJ DELETE-->
            {% if app.user and is_granted("ROLE_MJ") %}
                <div class="text-center">
                    {% set redirect, element, un_element, color, action = 'empire', 'archive', un_element, 'text-accent', 'delete' %}
                    {{ include('/parts/btn-line.html.twig') }}
                </div>
            {% endif %}

        </card>
    </element>

    <!-- AUTRES LIEUX -->
    <aside class="col-12 pt-1 mb-5">
        <card class="card card-body">
            <h2 class="card-title"><strong>Autres Lieux</strong></h2>
            <hr>

            <row class="row px-3">
                <!-- UN LIEU -->
                {% for autre_lieu in lieux|filter(autre_lieu => autre_lieu.id != un_element.id) %}
                    <article class="col-2 text-center mb-4 hover-zoom-x2 relative">
                        {% if autre_lieu.icone is defined and autre_lieu.icone is not empty %}
                            <img class="icon-lieu-top img-64" src="{{ asset(autre_lieu.icone) }}" alt="une icône" />
                        {% endif %}
                        <a href="{{ path('empire_lieu', {id: autre_lieu.id} ) }}">
                            <img class="img-fluid" src="{{ asset(autre_lieu.image) }}" alt="Image d'un autre Lieu" />
                        </a>
                        <a href="{{ path('empire_lieu', {id: autre_lieu.id} ) }}" ><strong>{{ autre_lieu.nom }}</strong></a>
                    </article>
                {% else %}
                    <span class="text-muted"><i>Il n'y a pas d'autres lieux.</i></span>
                {% endfor %}
            </row>

        </card>
    </aside>

{% endblock %}
