<main class="col-12">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-end mt-5 mb-4">
        
            <div class="col-4">
                {{ form_row(form.nom) }}
            </div>

            <div class="col-2">
                {{ form_row(form.numero) }}
            </div> 

            <div class="col-2 text-center">
                <div>{{ form_row(form.base) }}</div>
            </div>

            <!-- IMAGE -->
            <div class="col-12 mt-3">
                {{ form_label(form.image) }}
                <label id="preview-label" for="admin_rule_image" class="{% if type != 'Modifier' %}d-none{% endif %} hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible link-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{% if type == 'Modifier' %}{{ asset(rule.image|default(NA_IMG_RULE)) }}{% endif %}" />
                </label>
                <browse id="browse-label">
                    <span id="fileName"></span>
                    {{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}
                </browse> 
            </div>

            <div class="col-12 mt-5">
                <h2>Bibliothèque</h2>
                <hr>
            </div>

            <div class="col-4">
                {{ form_row(form.listEntity) }}
            </div>

            <div class="col-4">
                {{ form_row(form.listTabField) }}
            </div>

            <div class="col-4">
                {{ form_row(form.listFilterField) }}
            </div>

            <div class="col-12">
                {{ form_row(form.listIntro,{ 'attr': {'rows': '8'} }) }}
            </div>            

            <div class="col-12 mt-5">
                <h2>Part 1</h2>
                <hr>
                {{ form_row(form.part1titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part1,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part1aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Part 2</h2>
                <hr>
                {{ form_row(form.part2titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part2,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part2aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Part 3</h2>
                <hr>
                {{ form_row(form.part3titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part3,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part3aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Part 4</h2>
                <hr>
                {{ form_row(form.part4titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part4,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part4aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12 mt-5">
                <h2>Part 5</h2>
                <hr>
                {{ form_row(form.part5titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part5,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part5aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12 mt-5">
                <hr>
                {{ form_row(form.pdf) }}
            </div>

            <div class="col-12 text-center mt-5">
                <button class="btn btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>

        </div>
    {{ form_end(form) }}
</main>