<main class="col-12">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-end mt-5 mb-4">
        
            <div class="col-8">
                {{ form_row(form.nom) }}
            </div> 

            <div class="col-4 text-center">
                <div>{{ form_row(form.base) }}</div>
            </div> 

            <div class="col-12">
                {% if type == 'Modifier' %}
                    <img class="img-fluid w-100" src="{{ asset(rule.image) }}" />
                {% endif %}
            </div> 

            <div class="col-12">
                {{ form_row(form.image) }}
            </div> 

            <div class="col-12">
                {{ form_row(form.part1titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part1,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part1aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12">
                {{ form_row(form.part2titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part2,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part2aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12">
                {{ form_row(form.part3titre) }}
            </div>

            <div class="col-8">
                {{ form_row(form.part3,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-4">
                {{ form_row(form.part3aside,{ 'attr': {'rows': '20'} }) }}
            </div>

            <div class="col-12">
                {{ form_row(form.pdf) }}
            </div>

            <div class="col-12 text-center mt-5">
                <button class="btn btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>

        </div>
    {{ form_end(form) }}
</main>