<main class="col-12">
    {{ form_start(form) }}
        <div class="row form-wrapper">
            <div class="col-6">{{ form_row(form.titre) }}</div> 
            <div class="col-3">{{ form_row(form.auteur) }}</div>
            <div class="col-3 align-self-center">{{ form_row(form.locked) }}</div>

            <div class="col-12 mt-3">{{ form_row(form.contenu,{ 'attr': {'rows': '20'} }) }}</div>

            <!-- IMAGE -->
            <div class="col-12 mt-3 mb-5">
                {{ form_label(form.image) }}
                <label for="admin_archive_image" class="preview-label hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible text-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{{ asset(archive.image|default(NA_ARCHIVE)) }}" />
                    <span id="image-filename" class="filename"></span>
                </label>
                <div class="browser">{{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}</div> 
            </div>

            {{ include('/parts/btn-form.html.twig') }}
        </div>
    {{ form_end(form) }}
</main>
