<main class="offset-2 col-8">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-center mt-5 mb-4">

            <div class="col-8">
                {{ form_row(form.nom) }}
                {{ form_row(form.icone) }}
            </div>    

            <div class="col-4">
                {% if type == 'Modifier' %}
                    <img class="img-fluid" src="{{ asset(classe.icone|default(NA_ICON_CLASS)) }}" />
                {% endif %}
            </div>

            <!-- IMAGE -->
            <div class="col-12 mt-3">
                {{ form_label(form.image) }}
                <label id="preview-label" for="admin_classe_image" class="{% if type != 'Modifier' %}d-none{% endif %} hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible text-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{% if type == 'Modifier' %}{{ asset(classe.image|default(NA_169)) }}{% endif %}" />
                </label>
                <browse id="browse-label">
                    <span id="fileName"></span>
                    {{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}
                </browse> 
            </div>

            <div class="col-12 mt-5">
                {{ form_row(form.citation) }}
            </div>

            <div class="col-12">
                {{ form_row(form.description,{ 'attr': {'rows': '6'} }) }}
            </div>   

            <div class="col-12">
                {{ form_row(form.couleur) }}
            </div> 

            <div class="col-12 text-center mt-5">
                <button class="btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>

        </div>
    {{ form_end(form) }}
</main>