<main class="offset-2 col-8">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-center mt-5 mb-4">
            <div class="col-8">
                {{ form_row(form.nom) }}
                {{ form_row(form.icone) }}
            </div>    
            <div class="col-4">
                {% if type == 'Modifier' %}
                    <img class="img-fluid" src="{{ asset(classe.icone) }}" />
                {% endif %}
            </div>    
            <div class="col-12">
                {{ form_row(form.description,{ 'attr': {'rows': '10'} }) }}
            </div>   

            <div class="col-12">
                {{ form_row(form.couleur) }}
            </div> 

            <div class="col-12 text-center mt-5">
                <button class="btn btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</main>