{% extends 'base.html.twig' %}
{% block title %}L'Aventure Saison {{ saison.numero }} {{ parent() }}{% endblock %}
{% block body %}

<!-- HEADER BAND SAISON -->
<header class="container-fluid relative saison">
    {{ include('/parts/messages-flashes.html.twig') }}
    <div class="container relative text-center d-flex justify-content-center align-items-center">
            <div class="ml-2">
            {% if saison_precedente is not empty %}
                <a class="arrow-left fa-fade" href="{{ path('aventure_saison', {id : (saison_precedente.id) } ) }}" alt="Flèche Gauche" title="Voir Saison précédente">
                    <i class="fa-solid fa-caret-left"></i>
                </a>
            {% else %}
                <span class="arrow-disabled">
                    <i class="fa-solid fa-caret-left"></i>
                </span>
            {% endif %}
            </div>
            <div class="ml-2">
                {% if saison_suivante is empty %}
                    <div class="relative">
                        <div class="clip-text">SAISON {{ saison.numero }} - Saison actuellement en cours !</div>
                    </div>
                {% else %}
                    <div class="text-primary"><strong>SAISON {{ saison.numero }} - {{ saison.titre }}</strong></div>
                {% endif %}
            </div>
            <div class="ml-2">
                {% if saison_suivante is not empty %}
                    <a class="arrow-right fa-fade" href="{{ path('aventure_saison', {id : (saison_suivante.id) } ) }}" alt="Flèche Droite" title="Voir Saison suivante">
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                {% else %}
                    <span class="arrow-disabled">
                        <i class="fa-solid fa-caret-right"></i>
                    </span>
                {% endif %}
            </div>
    </div>
</header>

<!-- AFFICHAGE DES CHAPITRES DE LA SAISON -->
<main>
{% set numero = 0 %}
{% for un_chapitre in saison.chapitres|reverse %}

    {% set color, element, numero, parent, parentID, redirect, label = 'text-accent', 'chapitre', un_chapitre.numero, 'saison', saison.id, 'aventure', 'Insérer' %}
    {{ include('/aventure/un-chapitre.html.twig', {numero}) }}

{% else %}

    <!-- PAS DE CHAPITRE -->
    <section class="header-bg-img header-bg-no-chapter" style="background-color: #400000; background-image:linear-gradient( rgb( 0,0,0,0.6 ), rgb( 0,0,0,0), rgb( 0,0,0,0.3), rgb( 0,0,0,0.6) ), url( {{ asset('assets/img/placeholders/na-chapitre.jpg') }} );" >
        <div class="container">
            <div class="header header-chapter d-flex flex-column justify-content-end" >
                <div class="alert alert-light mx-auto alert-persist mt-3 mb-3">
                    <strong>Désolé il n'y a pas encore de Chapitre dans cette Saison.</strong>
                </div>
            </div>
        </div>
    </section>

{% endfor %}

{% if app.user and is_granted("ROLE_MJ") %}
    <div class="text-center bg-primary-darkest p-1">
        <!-- MJ BTN ICON+TEXT Insert or Add -->
        {% set color, element, numero, parent, parentID, redirect, label = 'text-accent', 'chapitre', (numero + 1), 'saison', saison.id, 'aventure', 'Ajouter' %}
        {{ include('/parts/btn-line-insert-add.html.twig') }}
    </div>
{% endif %}

</main>
{% endblock %}
