{% extends 'base.html.twig' %}
{% block title %}L'Aventure Saison {{ saison.numero }} {{ parent() }}{% endblock %}
{% block body %}

<!-- SAISON BAR -->
<saison class="saison-bar container-fluid" style="background-color: {{ saison.couleur }}">
    <bar class="container">
        {{ include('/parts/messages-flashes.html.twig') }}
        {% if saison_suivante is not empty %}
            <a class="btn-icon-text text-light-alpha" href="{{ path('aventure_saison', {id : (saison_suivante.id) } ) }}">
                <span class="text-small"><i class="fa-solid fa-caret-left"></i> saison suivante</span>
            </a>
        {% else %}
            <span class="text-small invisible"><i class="fa-solid fa-caret-left"></i> saison suivante</span>
        {% endif %}

        {% if saison_suivante is empty %}
            <strong>SAISON {{ saison.numero }} - Saison actuellement en cours !</strong>
        {% else %}
            <strong>SAISON {{ saison.numero }} - {{ saison.titre|upper }}</strong>
        {% endif %}

        {% if saison_precedente is not empty %}
            <a class="btn-icon-text text-light-alpha" href="{{ path('aventure_saison', {id : (saison_precedente.id) } ) }}" alt="Flèche Droite" title="Voir saison précédente">
                <span class="text-small">saison précédente <i class="fa-solid fa-caret-right"></i></span> 
            </a>
        {% else %}
            <span class="text-small invisible">saison précédente <i class="fa-solid fa-caret-right"></i></span>
        {% endif %}
    </bar>
</saison>

<!-- AFFICHAGE DES CHAPITRES DE LA SAISON -->
<main>
{% set numero = 0 %}
{% for un_chapitre in saison.chapitres|reverse %}

    {% set color, entity, numero, parent, parentID, redirect, label = 'text-light-alpha', 'chapitre', un_chapitre.numero, 'saison', saison.id, 'aventure', 'Insérer' %}
    {{ include('/aventure/un-chapitre.html.twig', {numero}) }}

{% else %}

    <!-- PAS DE CHAPITRE -->
    <section class="header-bg-img header-bg-no-chapter" style="background-color: #400000; background-image:linear-gradient( rgb( 0,0,0,0.6 ), rgb( 0,0,0,0), rgb( 0,0,0,0.3), rgb( 0,0,0,0.6) ), url( {{ asset(NA_169) }} );" >
        <div class="container">
            <div class="header header-chapter d-flex flex-column justify-content-end" >
                <div class="alert alert-light mx-auto alert-persist mt-3 mb-3">
                    <strong>Désolé il n'y a pas encore de Chapitre dans cette Saison.</strong>
                </div>
            </div>
        </div>
    </section>

{% endfor %}

{% if app.user and is_granted("ROLE_MJ") %}
    <div class="text-center bg-primary-darkest p-1">
        <!-- MJ BTN ICON+TEXT Insert or Add -->
        {% set color, entity, numero, parent, parentID, redirect, label = 'text-accent', 'chapitre', (numero + 1), 'saison', saison.id, 'aventure', 'Ajouter' %}
        {{ include('/parts/btn-line-insert.html.twig') }}
    </div>
{% endif %}

</main>
{% endblock %}
