{% extends 'base.html.twig' %}
{% block title %}L'Aventure Saison {{ saison.numero }} {{ parent() }}{% endblock %}
{% block body %}
<header class="container-fluid saison">
    {{ include('/parts/messages-flashes.html.twig') }}
    <div class="container relative" >

            <div class="shift-left">
                {% if saison_precedente is not empty %}
                    <a class="arrow-left" href="{{ path('aventure_saison', {id : (saison_precedente.id) } ) }}" alt="Flèche Gauche" title="Voir Saison précédente">
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
                {% else %}
                        <i class="fa-solid fa-caret-left"></i>
                {% endif %}
                {% if saison_suivante is not empty %}
                    <a class="arrow-right" href="{{ path('aventure_saison', {id : (saison_suivante.id) } ) }}" alt="Flèche Droite" title="Voir Saison suivante">
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                {% else %}
                        <i class="fa-solid fa-caret-right"></i>
                {% endif %}
            </div>

            <div class="d-flex">
                <div class="clip-text-main">
                    <div class="clip-text">
                        {% if saison_suivante is empty %}
                            Cette SAISON est en cours de Jeu !
                        {% else %}
                            <span class="primary-color">SAISON {{ saison.numero }} - {{ saison.titre }}</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<!-- AFFICHAGE DES CHAPITRES DE LA SAISON -->
<main>
{% set numero_chapitre = 0 %}
{% for un_chapitre in saison.chapitres|reverse %}
    {% set numero_chapitre = un_chapitre.numero %}
    {{ include('/parts/btn-inserer-chapitre.html.twig', {numero_chapitre}) }}
    {{ include('/aventure/un-chapitre.html.twig') }}
{% else %}
    <div class="separator-chapter text-center">
        <div class="alert alert-light mx-auto alert-persist mt-3 mb-3">
            <strong>Désolé il n'y a pas encore de Chapitre dans cette Saison !</strong>
        </div>
    </div>
{% endfor %}

    {% set numero_chapitre = numero_chapitre + 1 %}
    {{ include('/parts/btn-inserer-chapitre.html.twig', {numero_chapitre}) }}

</main>
{% endblock %}
