{% extends 'base.html.twig' %}
{% block title %}L'Aventure Saison {{ saison.numero }} {{ parent() }}{% endblock %}
{% block body %}
<header>
    {{ include('/parts/messages-flashes.html.twig') }}
    <div class="container-fluid" style="background-image: linear-gradient(rgb(40,0,0,1),rgb(40,0,0,0.9)),url('{{ asset(saison.image) }}'); background-position: 50% 20%;">
        <div class="d-flex justify-content-center align-items-center p-2">
            <div class="arrow-left">
                {% if saison_suivante is not empty %}
                    <a class="text-danger" href="{{ path('aventure_saison', {id : (saison_suivante.id) } ) }}" alt="Icône flèche gauche Saison suivante" title="Voir Saison suivante">
                        {{ source('icons/chevron-left-solid.svg') }}
                    </a>
                {% endif %}
            </div>
            <h1 class="text-light text-center">
                <i><strong>SAISON {{ saison.numero }}</strong> - {{ saison.titre }}</i>
            </h1>
            <div class="arrow-right">
                {% if saison_precedente is not empty %}
                    <a class="text-danger" href="{{ path('aventure_saison', {id : (saison_precedente.id) } ) }}" alt="Icône flèche droite Saison précédente" title="Voir Saison précédente">
                        {{ source('icons/chevron-right-solid.svg') }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<!-- AFFICHAGE DES CHAPITRES DE LA SAISON -->
<main>
{% set numero_chapitre = 0 %}
{% for un_chapitre in saison.chapitres|reverse %}
    {% set numero_chapitre = un_chapitre.numero %}
    {{ include('/parts/btn-inserer-chapitre.html.twig', {numero_chapitre}) }}
    {{ include('/aventure/un-chapitre.html.twig') }}
{% else %}
    <div class="separator-chapter text-center">
        <div class="alert alert-light mx-auto alert-persist mt-3 mb-3">
            <strong>Désolé il n'y a pas encore de Chapitre dans cette Saison !</strong>
        </div>
    </div>
{% endfor %}

    {% set numero_chapitre = numero_chapitre + 1 %}
    {{ include('/parts/btn-inserer-chapitre.html.twig', {numero_chapitre}) }}

</main>
{% endblock %}
