{% extends 'base.html.twig' %}
{% block title %}{{ episode.titre }} | {{ episode.numero }} du Chapitre {{ episode.chapitreParent.titre }} {{ parent() }}{% endblock %}
{% block body %}

<div class="header-bg-img p-md-4" style="background-image: url('{{ asset(episode.chapitreParent.image) }}'); background-color: {{ episode.chapitreParent.couleur }}">
    <header class="container header header-session">
        {{ include('/parts/messages-flashes.html.twig') }}
        <h2 class="chapter-number display-5 text-left">CHAPITRE {{ episode.chapitreParent.numero }} </h2>
        <hr>
        <div class="text-left">
            <a class="btn-style btn-large"
                href="{{ path('aventure_saison', {id: episode.chapitreParent.saisonParent.id, '_fragment': 'read-head-ch-id' ~ episode.chapitreParent.id } ) }}">Retour</a>
        </div>
        <h2 id="read-head" class="big-title-effect grand">{{ episode.chapitreParent.titre|relief|raw }}</h2>
        <p class="quote">{{ episode.chapitreParent.citation|nl2br }}</p>
    </header>

    <main class="container pt-3">
        <!-- LIGNE D'EPISODES -->
        <div class="d-flex pt-3 justify-content-center align-items-center">
            {% for un_episode in episode.chapitreParent.episodes %}
                {% if un_episode.scenes|length > 0 or is_granted("ROLE_MJ") %}
                    {% if un_episode.id == episode.id %}         
                        <div class="relative">
                            <div class="number-session-caroussel">{{ un_episode.numero }}</div>
                            <img class="img-160 border border-4 border-danger shadow" src="{{ asset(un_episode.image) }}" alt="image de l'episode {{un_episode.titre}}" title="{{un_episode.titre}}"/>
                            <i class="fa-sharp fa-solid fa-sort-down fa-bounce fa-2xl arrow-down" style="color: red;"></i>
                        </div>
                    {% else %}
                        <a class="bg-dark" href="{{ path('aventure_episode', { id : un_episode.id, '_fragment': 'read-head' } ) }}" >
                            <img class="img-fluid darken hover-bright img-128" src="{{ asset(un_episode.image) }}" alt="image de l'episode {{un_episode.titre}}" title="{{un_episode.titre}}"/>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- TITRE EPISODE -->
        <h2 class="display-3 session-title-container-effect mb-0 mt-3 py-3">{{ episode.titre }}</h2>
        <div class="col-12 col-sm-12 offset-xl-1 col-xl-10 justify-content-center session-card-long">
            <div class="card justify-content-center {% if app.user and is_granted("ROLE_MJ") %}pt-5{% else %}pt-3{% endif %} session-card-long-body">

                <!-- AFFICHAGE DES SCENES DE LA SESSION -->
                {% set numero_scene = 0 %}
                {% for une_scene in episode.scenes %}
                    {% set numero_scene, label = une_scene.numero, 'Insérer' %}
                    {{ include('/parts/inserer-scene.html.twig', {numero_scene}) }}
                    {{ include('/aventure/une-scene.html.twig', {une_scene}) }}
                {% else %}
                    <div class="text-center">
                        <img class="img-fluid" src="{{ asset('assets/img/placeholders/pas-de-scenes.png') }}" alt="Image pas encore de scènes" title="Il n'y a pas encore de scènes"/>
                        <h5>Il n'y a pas encore de scènes pour cette épisode !</h5>
                    </div>
                {% endfor %}

                {% set numero_scene, label = numero_scene + 1, 'Ajouter' %}
                {{ include('/parts/inserer-scene.html.twig', {numero_scene}) }}

                <hr class="mt-5">
                <h2 class="text-center my-3">Classement de la Session</h2>
                <div class="d-flex justify-content-center">
                    <div class="list-group list-group-flush">
                        {% for un_personnage in classement_episode %}
                            <div class="list-group-item d-flex align-items-center">
                                <img class="img-96 mr-4" src="{{ asset(un_personnage.icone) }}" />
                                <span class="display-4 mr-4">{{un_personnage.prenom}}</span>
                                <span class="ml-auto badge badge-success badge-pill">{{un_personnage.xp}}xp</span>
                            </div>
                        {% else %}
                            <div>
                                Désolé ! Il n'y a pas encore de participants à classer !
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-5 p-lg-3">
                    <div class="col text-left pl-0">
                        {% if episode_precedent is not empty %}
                            <a class="btn-style btn-medium" href="{{ path('aventure_episode', {id: episode_precedent.id}) }}">Session précédente</a>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        <a href="#read-head" class="btn border">Haut de page</a>
                    </div>   
                    <div class="col text-right pr-0">
                        {% if episode_suivant is not empty %}
                            {% if episode_suivant.scenes|length > 0 or is_granted("ROLE_MJ") %}
                                <a class="btn-style btn-medium" href="{{ path('aventure_episode', {id: episode_suivant.id}) }}">Session suivante</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
