{% extends 'base.html.twig' %}
{% block title %}L'épisode {{ episode.titre }} du Chapitre {{ episode.chapitreParent.titre }} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/page-session.css')}}" />
{% endblock %}

{% block body %}

<div    class="header-bg-img-session p-md-4"
        style=" background-image:
                    linear-gradient( rgb( 0,0,0,0.4 ), rgb( 0,0,0,0.4) ),
                    url('{{ asset(episode.chapitreParent.image) }}');
                background-color: {{ episode.chapitreParent.couleur }}">
    <header class="container header header-session">
        {{ include('/parts/messages-flashes.html.twig') }}
        <h2 class="chapter-number display-5 text-left">CHAPITRE {{ episode.chapitreParent.numero }} </h2>
        <hr>
        <div class="text-left">
            <a class="btn-primary-style btn-medium" href="{{ path('aventure_saison', {id: episode.chapitreParent.saisonParent.id, '_fragment': 'read-head-ch-id' ~ episode.chapitreParent.id } ) }}">Retour</a>
        </div>
        <h2 id="read-head" class="title-display-h1">{{ episode.chapitreParent.titre|relief|raw }}</h2>
        <p class="quote">{{ episode.chapitreParent.citation|nl2br }}</p>
    </header>
    <main class="container pt-3 pb-5 mb-5">
    
        <!-- LIGNE D'EPISODES -->
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div>
                <strong class="text-light-alpha">- SESSIONS DU CHAPITRE -</strong>
            </div>
            <div class="d-flex justify-content-center align-items-center">

                {% for un_episode in episode.chapitreParent.episodes %}

                    {% if un_episode.scenes|length > 0 or is_granted("ROLE_MJ") %}
                        {% if un_episode.id == episode.id %}
                            <div class="vignette-caroussel active">
                                <div class="episode-titre">
                                    {{un_episode.titre}}
                                </div>
                                <div class="ratio-169">
                                    <img class="ratio-cropped" src="{{ asset(un_episode.image|default(NA_SESSION)) }}" alt="image épisode" />
                                    <i class="absolute arrow-down fa-sharp fa-solid fa-sort-down fa-2xl text-primary"></i>
                                </div>
                            </div>
                            {% else %}
                            <div class="vignette-caroussel">
                                <div class="episode-titre">
                                    {{un_episode.titre}}
                                </div>
                                <div class="ratio-169 vignette-caroussel">         
                                    <a href="{{ path('aventure_episode', { id : un_episode.id, '_fragment': 'read-head' } ) }}" >
                                        <img class="ratio-cropped" src="{{ asset(un_episode.image|default(NA_SESSION)) }}" alt="image épisode" />
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                {% endfor %}

            </div>
        </div>

        <!-- TITRE EPISODE -->
        <div class="relative red-stroke-effect relative">
            <h2 class="title-display-h2 mb-0 mt-3 py-3">
                {{episode.titre}}
                {% if app.user and is_granted("ROLE_MJ") %} <!-- MJ - BTN ICON - Edit -->
                    {% set color, position, redirect, entity, un_element, size = 'text-light-alpha', '', 'aventure', 'episode', episode, 'btn-icon-medium' %}
                    {{ include('/parts/btn-icon-edit.html.twig') }}
                {% endif %}
            </h2>
        </div>
        <div class="relative col-12 col-sm-12 offset-xl-1 col-xl-10 justify-content-center session-page">
            <div class="card justify-content-center {% if app.user and is_granted("ROLE_MJ") %}pt-5{% else %}pt-3{% endif %} session-page-body">

                <!-- AFFICHAGE DES SCENES DE LA SESSION -->
                {% set numero = 0 %}
                {% for une_scene in episode.scenes %}

                    <div class="text-center mb-4">&nbsp;
                        {% if app.user and is_granted("ROLE_MJ") %}
                            <!-- MJ BTN ICON+TEXT Insert or Add -->
                            {% set color, entity, numero, parent, parentID, redirect, label = 'text-accent', 'scene', une_scene.numero, 'episode', episode.id, 'episode', 'Insérer' %}
                            {{ include('/btns/btn-line-insert.html.twig') }}
                        {% endif %}
                    </div>

                    <!-- UNE SCENE -->
                    {{ include('/aventure/une-scene.html.twig', {une_scene}) }}

                {% else %}
                    <p class="text-center text-light py-5">Il n'y a pas encore de scènes pour cette épisode.</p>
                {% endfor %}

                {% if app.user and is_granted("ROLE_MJ") %}
                    <!-- MJ BTN ICON+TEXT Insert or Add -->
                    <div class="text-center mt-1 mb-3">
                        {% set btnStyle, btnSize, color, entity, numero, parent, parentID, redirect, label = 'btn-primary-style', 'btn-medium', 'text-white', 'scene', (numero + 1), 'episode', episode.id, 'episode', 'Ajouter' %}
                        {{ include('/btns/btn-line-insert.html.twig') }}
                    </div>
                {% endif %}

                <hr class="mt-5">

                <!-- ISSUE -->
                {% if episode.issue is defined and episode.issue is not empty %}
                    <div class="text-center mt-4 mb-2">
                        {% if episode.issue == 'Win' %}
                            <img src="{{asset('assets/img/ui/outcome-success.png')}}" />
                        {% elseif episode.issue == 'Mitigate' %}
                            <img src="{{asset('assets/img/ui/outcome-mitigate.png')}}" />
                        {% elseif episode.issue == 'Lose' %}
                            <img src="{{asset('assets/img/ui/outcome-fail.png')}}" />
                        {% endif %}
                    </div>
                {% endif %}

                <!-- CLASSEMENT -->
                {% if classement_episode %}
                    <div class="d-flex justify-content-center">
                        <div class="list-group list-group-flush">
                            {% for un_personnage in classement_episode %}
                                <a class="list-group-item d-flex align-items-center hover-zoom bg-transparent ranking" href="{{path('personnage_profil',{id:un_personnage.id})}}">
                                    <img class="img-96 mr-4 rounder-portrait" src="{{ asset(un_personnage.icone|default(NA_PERSO_ICO)) }}" alt="Portrait du Personnage" title="Voir le profil de {{un_personnage.prenom}}"/>
                                    <span class="text-fat mr-4 text-gray">{{un_personnage.prenom}}</span>
                                    <span class="ml-auto badge badge-pill text-large
                                        {% if un_personnage.xp >= 7 %}
                                            bg-fuschia text-white
                                        {% elseif un_personnage.xp >= 6 %}
                                            bg-primary text-white
                                        {% elseif un_personnage.xp >= 5 %}
                                            badge-success
                                        {% elseif un_personnage.xp >= 4 %}
                                            bg-secondary text-white
                                        {% elseif un_personnage.xp >= 3 %}
                                            bg-accent text-white
                                        {% elseif un_personnage.xp >= 2 %}
                                            badge-secondary text-white
                                        {% elseif un_personnage.xp >= 1 %}
                                            badge-light text-black
                                        {% else %}
                                            badge-light text-light
                                        {% endif %} ">
                                        {{un_personnage.xp}}xp
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="d-flex justify-content-between mt-5 p-lg-3">
                    <div class="col text-left pl-0">
                        <a class="btn-primary-style btn-medium hue-gray" href="#read-head">
                            <i class="fa-solid fa-arrow-turn-up" alt="Icône Haut de Page" title="revenir en haut de page" ></i>&nbsp;Retour
                        </a>
                    </div>
                    <div class="col text-center">
                    </div>   
                    <div class="col text-right pr-0">
                        {% if episode_suivant is not empty %}
                            {% if episode_suivant.scenes|length > 0 or is_granted("ROLE_MJ") %}
                                <a class="btn-primary-style btn-medium" href="{{ path('aventure_episode', {id: episode_suivant.id}) }}">
                                    Session suivante
                                </a>
                            {% endif %}
                        {% else %}
                            {% if episode_chapitre_suivant is not empty %}
                                <a class="btn-primary-style btn-medium hue-fuschia" href="{{ path('aventure_episode', {id: episode_chapitre_suivant.id}) }}">
                                    Chapitre suivant&nbsp;<i class="fa-solid fa-book-open" alt="Icône livre"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
