{% extends 'base.html.twig' %}

{% block title %}{{ episode.titre }} | {{ episode.numero }} du Chapitre {{ episode.chapitreParent.titre }} {{ parent() }}{% endblock %}

{% block body %}

<div class="episode-fond p-md-4" style="background-image: url('{{ asset(episode.chapitreParent.image) }}'); background-color: {{ episode.chapitreParent.couleur }}">
    <header class="container en-tete-episode">
            <div class="volatile">
                {{ include('/parts/messages-flashes.html.twig') }}
            </div>
            <h2 class="pre-titre-chapitre display-5 text-left">CHAPITRE {{ episode.chapitreParent.numero }} </h2>
            <hr>
            <div class="text-left">
                <a class="btn btn-primary btn-lg" href="{{ path('aventure_saison', {id: episode.chapitreParent.saisonParent.id, '_fragment': 'tete-lecture-ch-id' ~ episode.chapitreParent.id } ) }}">Retour</a>
            </div>
            <h2 class="stylise grand">{{ episode.chapitreParent.titre|stylise|raw }}</h2>
            <p class="citation">{{ episode.chapitreParent.citation|nl2br }}</p>
    </header>

    <main id="tete-lecture" class="container pt-3">
        <div class="d-flex pt-3 justify-content-center align-items-center">
            {# EPISODE PRECEDENT #}           
            <div class="d-flex flex-column justify-content-center vignette mr-3">
                {% if episode_precedent is not empty %} 
                    <div class="fond-masque">
                        <a href="{{ path('aventure_episode', { id : episode_precedent.id, '_fragment': 'tete-lecture' } ) }}">
                            <span class="display-4 numero-episode-courant">{{ episode_precedent.numero }}</span>
                            <img src="{{ asset(episode_precedent.image) }}" alt="image d'un episode" class="img-fluid translucide" />
                        </a>
                    </div>
                {% endif %}
            </div>

            {# EPISODE COURANT #}
            <div class="d-flex flex-column justify-content-center vignette-principale">
                <div class="fond-masque">
                    <span class="display-1 numero-episode-courant">{{ episode.numero }}</span>
                    <img src="{{ asset(episode.image) }}" alt="image d'un episode" class="img-fluid" />
                </div>
            </div>

            {# EPISODE SUIVANT #}
            <div class="d-flex flex-column justify-content-center vignette ml-3">
            {% if episode_suivant is not empty %}
                <div class="fond-masque">
                    <a href="{{ path('aventure_episode', { id : episode_suivant.id, '_fragment': 'tete-lecture' } ) }}">
                        <span class="display-4 numero-episode-courant">{{ episode_suivant.numero }}</span>
                        <img src="{{ asset(episode_suivant.image) }}" alt="image d'un episode" class="img-fluid translucide" />
                    </a>
                </div>
            {% endif %}
            </div>
        </div>

        <!-- TITRE EPISODE -->
        <h2 class="display-3 titre-episode mb-0 mt-3 py-3">{{ episode.titre }}</h2>
        <div class="col-12 col-sm-12 offset-xl-1 col-xl-10 justify-content-center longue-card-episode">
            <div class="card justify-content-center pt-5 bloc-card-episode">

                <!-- AFFICHAGE DES SCENES -->
                {% set numeroScene = 0 %}
                {% for une_scene in episode.scenes %}
                    {{ include('/aventure/une-scene.html.twig') }}
                    {% set numeroScene = une_scene.numero %}
                {% else %}
                    <div class="text-center">
                        <img class="img-fluid" src="{{ asset('assets/img/placeholders/pas-de-scenes.png') }}" alt="Il n'y a pas encore de scènes" />
                        <h5>Il n'y a pas encore de scènes pour cette épisode !</h5>
                    </div>
                {% endfor %}

                {% if is_granted("ROLE_MJ") %}
                    <div class="d-flex justify-content-center mt-3">
                        <div class="text-right mb-3">
                            <a href="{{ path('admin_scene_create') }}?numero={{(numeroScene)+1}}&episodeID={{episode.id}}&redirect=episode">
                                <i class="fas fa-plus-square"></i>&nbsp;&nbsp;Insérer une Scène
                            </a>
                        </div>
                    </div>    
                {% endif %}

                <h2 class="text-center">Classement de l'Episode</h2>
                <div class="d-flex justify-content-center">
                    <ol class="text-center">
                        {% for un_personnage in episode_personnages %}
                            <li>
                                {{un_personnage.prenom}}
                                &nbsp;<strong>{{un_personnage.xp}}xp</strong>
                            </li>
                        {% else %}
                            <li>
                                Désolé ! Il n'y a pas encore de participants à classer !
                            </li>
                        {% endfor %}
                    </ol>
                </div>

                <div class="d-flex justify-content-between p-lg-3 m-1">
                    <span style="width: 96px">
                        {% if episode_precedent is not empty %}
                            <a href="{{ path('aventure_episode', {id: episode_precedent.id}) }}" class="btn btn-primary">Précédent</a>
                        {% endif %}
                    </span>
                    <span>
                        <a href="#tete-lecture" class="btn btn-primary">Retour en haut</a>
                    </span>
                    <span style="width: 96px; text-align: right;">
                        {% if episode_suivant is not empty %}
                            <a href="{{ path('aventure_episode', {id: episode_suivant.id}) }}" class="btn btn-primary">Suivant</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
