{% extends 'base.html.twig' %}
{% block title %}L'épisode {{ episode.titre }} du Chapitre {{ episode.chapitreParent.titre }} {{ parent() }}{% endblock %}
{% block body %}

<div    class="header-bg-img-session p-md-4"
        style=" background-image:
                    linear-gradient( rgb( 0,0,0,0.4 ), rgb( 0,0,0,0.4) ),
                    url('{{ asset(episode.chapitreParent.image) }}');
                background-color: {{ episode.chapitreParent.couleur }}">
    <header class="container header header-session">
        {{ include('/parts/messages-flashes.html.twig') }}
        <h2 class="chapter-number display-5 text-left">CHAPITRE {{ episode.chapitreParent.numero }} </h2>
        <hr>
        <div class="text-left">
            <a class="btn-primary-style btn-medium" href="{{ path('aventure_saison', {id: episode.chapitreParent.saisonParent.id, '_fragment': 'read-head-ch-id' ~ episode.chapitreParent.id } ) }}">Retour</a>
        </div>
        <h2 id="read-head" class="title-display-h1">{{ episode.chapitreParent.titre|relief|raw }}</h2>
        <p class="quote">{{ episode.chapitreParent.citation|nl2br }}</p>
    </header>
    <main class="container pt-3 pb-5 mb-5">
    
        <!-- LIGNE D'EPISODES -->
        <div class="d-flex pt-3 justify-content-center align-items-center">
            {% for un_episode in episode.chapitreParent.episodes %}
                {% if un_episode.scenes|length > 0 or is_granted("ROLE_MJ") %}
                    {% if un_episode.id == episode.id %}         
                        <div class="relative">
                            <div class="absolute number-session-caroussel">{{ un_episode.numero }}</div>
                            <img class="img-160 border border-4 border-danger shadow" src="{{ asset(un_episode.image) }}" alt="image de l'episode {{un_episode.titre}}" title="{{un_episode.titre}}"/>
                            <i class="absolute arrow-down fa-sharp fa-solid fa-sort-down fa-bounce fa-2xl text-primary"></i>
                        </div>
                    {% else %}
                        <a class="bg-dark" href="{{ path('aventure_episode', { id : un_episode.id, '_fragment': 'read-head' } ) }}" >
                            <img class="img-fluid darken hover-bright img-128" src="{{ asset(un_episode.image) }}" alt="image de l'episode {{un_episode.titre}}" title="{{un_episode.titre}}"/>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- TITRE EPISODE -->
        <div class="relative red-stroke-effect">
            <h2 class="title-display-h2 mb-0 mt-3 py-3">{{episode.titre}}</h2>
        </div>
        <div class="relative col-12 col-sm-12 offset-xl-1 col-xl-10 justify-content-center session-card-long">
            <div class="card justify-content-center {% if app.user and is_granted("ROLE_MJ") %}pt-5{% else %}pt-3{% endif %} session-card-long-body">

                <!-- AFFICHAGE DES SCENES DE LA SESSION -->
                {% set numero = 0 %}
                {% for une_scene in episode.scenes %}

                    <div class="text-center mb-4">&nbsp;
                    {% if app.user and is_granted("ROLE_MJ") %}
                        <!-- MJ BTN ICON+TEXT Insert or Add -->
                        {% set color, entity, numero, parent, parentID, redirect, label = 'text-accent-alpha', 'scene', une_scene.numero, 'episode', episode.id, 'episode', 'Insérer' %}
                        {{ include('/parts/btn-line-insert.html.twig') }}
                    {% endif %}
                    </div>

                    <!-- UNE SCENE -->
                    {{ include('/aventure/une-scene.html.twig', {une_scene}) }}

                {% else %}
                    <p class="text-center text-light">Il n'y a pas encore de scènes pour cette épisode.</p>
                {% endfor %}

                {% if app.user and is_granted("ROLE_MJ") %}
                    <!-- MJ BTN ICON+TEXT Insert or Add -->
                    <div class="text-center mt-1 mb-3">
                        {% set color, entity, numero, parent, parentID, redirect, label = 'text-accent-alpha', 'scene', (numero + 1), 'episode', episode.id, 'episode', 'Ajouter' %}
                        {{ include('/parts/btn-line-insert.html.twig') }}
                    </div>
                {% endif %}

                <!-- CLASSEMENT -->
                {% if classement_episode %}
                    <hr class="mt-5">
                    <h2 class="text-center my-3">Classement de la Session</h2>
                    <div class="d-flex justify-content-center">
                        <div class="list-group list-group-flush">
                            {% for un_personnage in classement_episode %}
                                <div class="list-group-item d-flex align-items-center hover-zoom bg-transparent ranking">
                                    <a href="{{path('personnage_profil',{id:un_personnage.id})}}">
                                        <img class="img-96 mr-4" src="{{ asset(un_personnage.icone|default(NA_PERSO_ICO)) }}" alt="Portrait du Personnage" title="Voir le profil de {{un_personnage.prenom}}"/>
                                    </a>
                                    <a class="display-4 mr-4" href="{{path('personnage_profil',{id:un_personnage.id})}}">{{un_personnage.prenom}}</a>
                                    <span class="ml-auto badge badge-success badge-pill">{{un_personnage.xp}}xp</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="d-flex justify-content-between mt-5 p-lg-3">
                    <div class="col text-left pl-0">
                        {% if episode_precedent is not empty %}
                            <a class="btn-secondary-style btn-medium" href="{{ path('aventure_episode', {id: episode_precedent.id}) }}">Session précédente</a>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        <a class="btn-tertiary-style btn-icon-medium" href="#read-head"><i class="fa-solid fa-arrow-turn-up" alt="Icône Haut de Page" title="revenir en haut de page" ></i></a>
                    </div>   
                    <div class="col text-right pr-0">
                        {% if episode_suivant is not empty %}
                            {% if episode_suivant.scenes|length > 0 or is_granted("ROLE_MJ") %}
                                <a class="btn-primary-style btn-medium" href="{{ path('aventure_episode', {id: episode_suivant.id}) }}">Session suivante</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
