
<article id="scn{{ une_scene.id }}" class="relative">

    <!-- IMAGE DE LA SCENE -->
    <div class="bg-black relative">

        <!-- LIGNE VERTICAL DE PNJS -->
        <div class="absolute pnjs-line">
            <div class="d-flex flex-column">   
                {% for une_participation in une_scene.participations %}
                    {% if une_participation.estPj == 0 %}
                        <div class="mb-2 d-inline-block relative hover-zoom">
                            <a class="hover-zoom" href="{{path('personnage_profil',{id: une_participation.personnage.id})}}" >
                                {% if une_participation.estMort == 1 %}
                                    <img class="absolute character-icon-dead" src="{{asset('assets/img/icons/mort.png')}}" alt="est mort" />
                            {% endif %}
                            <img class="shadowed character-icon-large {% if une_participation.estMort == 1 %}dead{% else %}hover-shine{% endif %}"
                                src="{{asset(une_participation.personnage.icone)}}" alt="Icone du Personnage" title="{{une_participation.personnage.prenom}}" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="card-body scene-body relative mb-2">

        <!-- TEMPS ET TITRE SCENE -->
        <div class="text-daytime-overtop-container">
            <h5 class="card-title">{{ une_scene.temps }}</h5>
            <h3 class="card-title">{{ une_scene.titre }}</h3>
            <!-- LIGNE HORIZONTALE DE PJS -->
            <div class="text-right overtop-36 icons-char-collapse">
                {% for une_participation in une_scene.participations %}
                    {% if une_participation.estPj %}
                        <div class="d-inline-block relative hover-zoom-X2">
                            {% if une_participation.xpGagne != 0 and une_participation.estMort != 1 %}
                                <strong class="{% if une_participation.personnage.joueur == app.user %}text-your-xp{% else %}text-xp{% endif %}">+{{une_participation.xpGagne}}XP</strong>
                            {% endif %}
                            <br/>
                            <a href="{{path('personnage_profil',{id:une_participation.personnage.id})}}" >
                                {% if une_participation.estMort == 1 %}
                                    <img class="character-icon-dead" src="{{asset('assets/img/icons/mort.png')}}" alt="est mort" />
                                {% endif %}
                                <img class="shadow-more character-icon-large {% if une_participation.estMort == 1 %}dead{% else %}hover-shine{% endif %}"
                                    src="{{asset(une_participation.personnage.icone|default(NA_PERSO_ICO)|default(NA_PERSO_ICO)|default(NA_PERSO_ICO)|default(NA_PERSO_ICO))}}" alt="Icone du Personnage" title="{{une_participation.personnage.prenom}}" />
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- LIGNE HORIZONTALE DE PJS -->
        <div class="absolute pjs-line">
            {% for une_participation in une_scene.participations|sort( (a, b) => a.xpGagne <=> b.xpGagne)|reverse %}
                {% if une_participation.estPj %}
                    <div class="d-inline-block relative hover-zoom">
                        {% if une_participation.xpGagne != 0 and une_participation.estMort != 1 %}
                            <strong class="{% if une_participation.personnage.joueur == app.user %}text-your-xp{% else %}text-xp{% endif %}">
                                +{{une_participation.xpGagne}} <span class="text-small">XP</span>
                            </strong>
                        {% endif %}
                        <br/>
                        <a href="{{path('personnage_profil',{id:une_participation.personnage.id})}}" >
                            {% if une_participation.estMort == 1 %}
                                <img class="absolute character-icon-dead" src="{{asset('assets/img/icons/mort.png')}}" alt="est mort" />
                            {% endif %}
                            <img
                                class="shadow-more character-icon-large
                                {% if une_participation.personnage.joueur == app.user %} outlined{% endif %}
                                {% if une_participation.estMort == 1 %} dead{% elseif une_participation.xpGagne == 0 %}grayscale{% endif %}"
                                src="{{asset(une_participation.personnage.icone|default(NA_PERSO_ICO))}}" alt="Icone du Personnage" title="{{une_participation.personnage.prenom}}" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <img class="card-img-top img-fluid mask" src="{{ asset(une_scene.image|default(NA_SCENE)) }}"  alt="Image d'une scène">

    </div>

    <div class="card-body scene-body relative mb-2">

        <!-- TEMPS ET TITRE SCENE -->
        <div class="absolute text-daytime-overtop-container">
            <h5 class="card-title">{{ une_scene.temps }}</h5>
            <h3 class="card-title">{{ une_scene.titre }}</h3>
        </div>

        <!-- TEXTE RESUME DE LA SESSION -->
        <p class="card-text scene-text text-justify">{{ une_scene.texte|raw|nl2br }}</p>

    </div>

    {% if app.user and is_granted("ROLE_MJ") %}
        {% set color, element, un_element, redirect = 'text-accent-alpha', 'scene', une_scene, 'episode' %}
        <div class="d-flex justify-content-center">

            <!-- MJ BTN ICON+TEXT Edit -->
            <div class="mr-5">
            {% set action = 'edit' %}
            {{ include('/parts/btn-line.html.twig') }}
            </div>
            
            <!-- MJ BTN ICON+TEXT Delete -->
            <div class="ml-5">
            {% set action = 'delete' %}
            {{ include('/parts/btn-line.html.twig') }}
            </div>

        </div>

    {% endif %}

    {{ include('/parts/separateur-ornament.html.twig') }}

</article>
<!-- FIN : UNE SCENE -->