
<article id="scn{{ une_scene.numero }}" class="relative">

    <!-- CONTENEUR IMAGE DE LA SCENE -->
    <div class="bg-black relative">

        <img class="icon-aventure" src="{{ asset(AVENTURE_SCENE_ICO) }}" alt="Icône scène">

        <!-- par dessus ICON TEMPS et ICON LIEU -->
        <div class="time-and-location">

            <span class="hover-tooltip">
                {% if une_scene.lieu is not empty %}{{une_scene.lieu.nom}}, {% endif %}{{une_scene.temps|default('Temps inconnu')}}
            </span>

            <div class="location">
                {% if une_scene.lieu is not empty %}
                    <a href="{{path('empire_lieu', {id: une_scene.lieu.id} ) }}" >
                        <img src="{{asset(une_scene.lieu.icone|default(NA_LIEU_ICO))}}" alt="icône du lieu" />
                    </a>
                {% endif %}
            </div>

            <div class="time" >

                <!-- GESTION DE L'ICONE DU TEMPS -->
                {% if une_scene.lieu is not empty %}
                    {% set bg = '_BG' %}
                {% endif %}

                {% if une_scene.temps == 'Aube' or une_scene.temps == 'Matinée' %}
                    {% set TIME_ICO = attribute(_context, 'MORNING' ~ time_variable_sufix|default) %}
                {% elseif une_scene.temps == 'Midi' or une_scene.temps == 'Après-midi' or une_scene.temps == 'Journée' %}
                    {% set TIME_ICO = attribute(_context, 'NOON' ~ time_variable_sufix|default) %}
                {% elseif une_scene.temps == 'Soirée' or une_scene.temps == 'Crépuscule' or une_scene.temps == 'Tombée de la nuit' %}
                    {% set TIME_ICO = attribute(_context, 'EVENING' ~ time_variable_sufix|default) %}
                {% elseif une_scene.temps == 'Minuit' or une_scene.temps == 'Nuit' %}
                    {% set TIME_ICO = attribute(_context, 'NIGHT' ~ time_variable_sufi|default) %}
                {% elseif une_scene.temps == 'Intemporel' %}
                    {% set TIME_ICO = INTEMPOREL %}
                {% endif %}

                <img src="{{asset(TIME_ICO|default(NA_TIME))}}" alt="icône du temps" />
            </div>
            
        </div>

        <!-- PAR DESSUS LIGNE DE PNJS -->
        <div class="characters-line pnjs">
            {% for une_participation in une_scene.participations|filter( (une_participation) => une_participation.estPj == 0) %}

                <!-- GESTION PORTRAIT NON-DISPONIBLE -->
                {% if une_participation.personnage.icone is null and une_participation.personnage.genre == 'F' %}
                    {% set gender_variable_sufix ='_F' %}
                {% elseif une_participation.personnage.icone is null and une_participation.personnage.genre == 'M' %}
                    {% set gender_variable_sufix = '_M' %}
                {% endif %}

                <div class="character-portrait-box">
                    <a class="character-portrait-link" href="{{path('personnage_profil',{id: une_participation.personnage.id})}}" >
                        {% if une_participation.estMort == 1 %}
                            <img class="character-icon-dead" src="{{asset('assets/img/icons/mort.png')}}" alt="est mort" />
                        {% endif %}
                        <span class="hover-tooltip character-name pnj">
                            {{une_participation.personnage.prenom}}
                        </span>
                        <img class="character-portrait large pnj
                            {% if une_participation.estMort == 1 %} dead{% endif %}"
                            src="{{ asset(une_participation.personnage.icone|default( attribute(_context, 'NA_PERSO_ICO' ~ gender_variable_sufix|default ) ) ) }}"
                            alt="Icone personnage" />
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- PAR DESSUS LIGNE DE PJS -->
        <div class="characters-line pjs">
            {% for une_participation in une_scene.participations|filter( (une_participation) => une_participation.estPj == 1)|sort( (a, b) => a.xpGagne <=> b.xpGagne)|reverse %}
                
                <!-- GESTION PORTRAIT NON-DISPONIBLE -->
                {% if une_participation.personnage.icone is null and une_participation.personnage.genre == 'F' %}
                    {% set gender_variable_sufix ='_F' %}
                {% elseif une_participation.personnage.icone is null and une_participation.personnage.genre == 'M' %}
                    {% set gender_variable_sufix = '_M' %}
                {% endif %}

                <div class="character-portrait-box">

                    <!-- AFFICHAGE XP -->
                    {% if une_participation.xpGagne != 0 and une_participation.estMort != 1 %}
                        <div class="d-inline-block {% if une_participation.personnage.joueur == app.user %}text-your-xp{% else %}text-xp{% endif %}">
                            <strong class="text-medium">+{{une_participation.xpGagne}}</strong> <span class="text-small">XP</span>
                        </div><br/>
                    {% endif %}

                    <a class="character-portrait-link" href="{{path('personnage_profil',{id:une_participation.personnage.id})}}" >
                        {% if une_participation.estMort == 1 %}<img class="character-icon-dead" src="{{asset('assets/img/icons/mort.png')}}" alt="est mort" />{% endif %}
                        <span class="hover-tooltip character-name pj {% if une_participation.personnage.joueur == app.user %}me{% endif %} {% if une_participation.xpGagne == 0 or une_participation.estMort == 1 %}gray{% endif %}">
                            {{une_participation.personnage.prenom}}
                        </span>
                        <img
                            class="character-portrait large pj 
                            {% if une_participation.personnage.joueur == app.user %} me outlined{% endif %}
                            {% if une_participation.estMort == 1 %} dead{% elseif une_participation.xpGagne == 0 %}grayscale{% endif %}"
                            src="{{asset(une_participation.personnage.icone|default( attribute(_context, 'NA_PERSO_ICO' ~ gender_variable_sufix|default ) ) ) }}"
                            alt="Icone personnage" />
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- CONTENEUR REDIMENSIONNEUR DE RATIO AVEC L'IMAGE À L'INTERIEUR -->
        <div class="ratio-169 gradient-after">
            <img class="ratio-cropped" src="{{ asset(une_scene.image|default(NA_SCENE)) }}"  alt="Image d'une scène">
        </div>
        

    </div>

    <div class="card-body scene-body relative mb-2">

        <!-- TITRE SCENE -->
        <div class="scene-title-container">
            <h3 class="card-title">{{ une_scene.titre }}</h3>
        </div>

        <!-- TEXTE RESUME DE LA SESSION -->
        <p class="card-text scene-text text-justify">{{ une_scene.texte|raw|nl2br }}</p>

    </div>

    {% if app.user and is_granted("ROLE_MJ") %}
        {% set color, element, un_element, redirect = 'text-accent', 'scene', une_scene, 'episode' %}
        <div class="d-flex justify-content-center">

            <!-- MJ BTN ICON+TEXT Edit -->
            <div class="mr-5">
            {% set action = 'edit' %}
            {{ include('/parts/btn-line.html.twig') }}
            </div>
            
            <!-- MJ BTN ICON+TEXT Delete -->
            <div class="ml-5">
            {% set action = 'delete' %}
            {{ include('/parts/btn-line.html.twig') }}
            </div>

        </div>

    {% endif %}

    {{ include('/parts/separateur-ornament.html.twig') }}

</article>
<!-- FIN : UNE SCENE -->