{% if is_granted("ROLE_MJ") %}
    <div class="d-flex justify-content-center mt-3">
        <div class="text-right mb-3">
            <a href="{{ path('admin_scene_create') }}?numero={{une_scene.numero}}&episodeID={{une_scene.episodeParent.id}}&redirect=episode">
                <i class="fas fa-plus-square"></i>&nbsp;&nbsp;Insérer une Scène
            </a>
        </div>
    </div>    
{% endif %}

<article id="scn{{ une_scene.id }}" class="mb-3 ancre-relatif">

    <div class="fond-masque">
        <img src="{{ asset(une_scene.image) }}" class="card-img-top img-fluid" alt="Image d'une scène">
    </div>

    <div class="text-right ligne-pnjs" style="position: absolute; top: 1rem; right: 1rem;">
        <div class="d-flex flex-column">   
            {% for une_participation in une_scene.participations %}
                {% if une_participation.estPj == 0 %}
                    <div class="mb-2" style="display: inline-block; position: relative;">
                        <a href="{{path('personnage_profil',{id: une_participation.personnage.id})}}" >
                            {% if une_participation.estMort == 1 %}
                                <img src="{{asset('assets/img/icons/mort.png')}}" alt="est mort" style="width: 72px; position: absolute; top: -4px; left: -2px; z-index: 1;" />
                            {% endif %}
                            <img class="ombre-img perso-icone {% if une_participation.estMort == 1 %}mort{% else %}survol{% endif %}"
                                src="{{asset(une_participation.personnage.icone)}}" alt="Icone du Personnage" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="card-body corps-scene ancre-relatif">

            <!-- LEGENDE OVERLAY -->
            <div class="scene-heure" style="width: 91%;">
                <h5 class="card-title">{{ une_scene.temps }}</h5>
                <h3 class="card-title">{{ une_scene.titre }}</h3>
                <div class="text-right ligne-icones ligne-pjs">
                    {% for une_participation in une_scene.participations %}
                        {% if une_participation.estPj == 1 %}
                            <div style="display: inline-block; position: relative;">
                                {% if une_participation.xpGagne != 0 and une_participation.estMort != 1 %}
                                    <strong class="{% if une_participation.personnage.joueur == app.user %}votre-xp{% else %}xp{% endif %}">+{{une_participation.xpGagne}}XP</strong>
                                {% endif %}
                                <br/>
                                <a href="{{path('personnage_profil',{id:une_participation.personnage.id})}}" >
                                    {% if une_participation.estMort == 1 %}
                                        <img src="{{asset('assets/img/icons/mort.png')}}" alt="est mort" style="width: 72px; position: absolute; top: -4px; left: -2px; z-index: 1;" />
                                    {% endif %}
                                    <img class="perso-icone {% if une_participation.personnage.joueur == app.user %}votre-personnage{% endif %} {% if une_participation.estMort == 1 %}mort{% elseif une_participation.xpGagne == 0 %}disabled{% else %}survol{% endif %}"
                                         src="{{asset(une_participation.personnage.icone)}}" alt="Icone du Personnage" />
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        <!-- TEXTE -->
        <p class="card-text texte-scene text-justify">{{ une_scene.texte|raw|nl2br }}</p>
        {# Il faut mettre le RAW avant pour avoir les balises html et autre caractères spéciaux non échappés #}

    </div>

    <!-- MJ - MODIFIER | SUPRIMER -->
    {% if is_granted("ROLE_MJ") %}
        <div class="d-flex justify-content-center mt-3">
            <div class="col col-lg-2 text-right">
                <a href="{{ path('admin_scene_edit', {id:une_scene.id} ) }}?redirect=episode"><i class="fas fa-edit"></i>&nbsp;&nbsp;Modifier</a>
            </div>
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col col-lg-2 text-left">
                <a  href="{{ path('admin_scene_delete', {id: une_scene.id} ) }}?csrf={{ csrf_token('delete' ~ une_scene.id) }}&redirect=episode"
                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer la scène : {{une_scene.titre}} ?')">
                        <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Supprimer
                </a>
            </div>
        </div>
    {% endif %}

    <!-- SEPARATEUR -->
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center division text-center">
            <div class="col py-0 px-2"><hr></div>
            <div class="division-motif"><img src="{{ asset('assets/img/ui/ornament-1.png') }}" class="img-fluid" alt="ornament" /></div>
            <div class="col py-0 px-2"><hr></div>
        </div>
    </div>

</article>
<!-- FIN : UNE SCENE -->