<!-- UN PERSONNAGE -->
<article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3">

    {% if perso.locked == 0 or is_granted("ROLE_MJ") %}
        <a href="{{ path('personnage_profil', {id: perso.id} ) }}" alt="Carte d'un personnage" title="Voir le profil de {{perso.prenom}}">
    {% endif %}

    {% set zoom, translucide, hover_opaque, text, dead, grayscale = 'hover-zoom', '', '', 'text-white', '', '' %}
    
    {% if perso.locked == 1 and is_granted("ROLE_MJ") == false %}
        {% set zoom, translucide, hover_opaque, text, dead, grayscale = '', 'translucide', '', 'text-white', '', 'grayscale' %}
    {% elseif perso.estMort == 1 %}
        {% set zoom, translucide, hover_opaque, text, dead, grayscale = 'hover-zoom', 'translucide', 'hover-opaque', 'text-danger', 'dead', '' %}
    {% endif %}

            <div class="card character-card text-white shadow-more {{zoom}} {{translucide}} {{hover_opaque}} relative">
                {% if perso.locked == 1  %}
                    <img class="absolute icon-lock-character fa-beat" src="{{asset('assets/img/icons/locked.png')}}" alt="Icône cadena" title="A débloquer !" />
                {% elseif perso.estMort == 1 %}
                    <img class="absolute icon-dead-big" src="{{asset('assets/img/icons/mort.png')}}" alt="Icône est mort" />
                {% endif %}

                <!-- CORNER BADGE -->
                {% if perso.clan %}
                    <img class="absolute corner-badge {{grayscale}} {{dead}}" src="{{ asset(perso.clan.mon|default(NA_MON)) }}" alt="Mon d'un clan"/>
                {% endif %}

                {% if perso.illustration is null and perso.genre == 'F' %}
                    {% set NA_PERSO_ILLU = NA_PERSO_ILLU_F %}
                {% elseif perso.illustration is null and perso.genre == 'M' %}
                    {% set NA_PERSO_ILLU = NA_PERSO_ILLU_M %}
                {% endif %}

                <div class="mask-bg-dark"><img class="card-img {{grayscale}} {{dead}}" src="{{ asset(perso.illustration|default(NA_PERSO_ILLU)) }}" alt="Illustration d'un personnage" title="Voir le profil de {{perso.prenom}}" /></div>
                <div class="card-img-overlay">
                    <h4 class="card-title {{text}}">{{ perso.nom }} {{ perso.prenom }}</h4>
                    {% if perso.estPj == 1 %}
                        <p class="card-text {{text}}"><small>{{ perso.joueur.pseudo }}</small></p>
                    {% endif %}
                    {% if perso.titres %}
                        <p class="card-text {{text}}"><small>{{ perso.titres }}</small></p>
                    {% endif %}
                </div>
            </div>
    {% if perso.locked == 0 or is_granted("ROLE_MJ") %}
        </a>
    {% endif %}
</article>