{% extends 'base.html.twig' %}

{% block title %}Personnages de l'Aventure {{ parent() }}{% endblock %}

{% block body %}

<header id="personnages" class="en-tete-fond">
    <div class="container">
        <div class="en-tete d-flex flex-column justify-content-center align-items-center">

            <div class="text-center d-flex justify-content-center"><strong class="h1">Les Héros de l'Aventure</strong></div>

            <hr class="w-50">     
            <h1 class="stylise grand">{{ 'Les Personnages'|stylise|raw }}</h1>

        </div>
    </div>
</header>

<main class="container-fluid bg-light pt-5">
    <div class="container">
        <section id="pjs"> 
            <h2 class="display-4">Personnages-<strong>Joueur</Strong> :</h2>
            <hr>
            <br/>
            <div class="row">
{% for un_pj in pjs %}
                <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 ">
                    <a href="{{ path('personnage_profil', {id: un_pj.id} ) }}">
                        <div class="card bg-dark text-white">    
                            <img class="badge-coin" src="{{ asset(un_pj.clan.mon) }}" alt="Mon du clan" />
                            {# {% if un_pj.est_mort is not empty and un_pj.est_mort == 1 %}
                                <img src="{{ asset('img/icones/mort.png') }}" alt="est mort" style="width: 156px; position: absolute; top: 4rem; left: 0.20rem; z-index: 1;" />
                            {% endif %} #}
                            <div class="fond-masque-fonce">
                                <img class="card-img
                                    {# if un_pj.est_mort is not empty and un_pj.est_mort == 1 %}
                                        mort{% else %} #}
                                        survol
                                    {# {% endif %} #}"
                                    src="{{ asset(un_pj.illustration) }}" alt="Illustration du personnage">
                            </div>
                            <div class="card-img-overlay">
                                <h4 class="card-title">{{ un_pj.nom }} {{ un_pj.prenom }}</h4>
                                <p class="card-text" style="color: #fff;"><small>{{ un_pj.joueur.pseudo }}</small></p>
                                <p class="card-text" style="color: #fff;"><small>{{ un_pj.titres }}</small></p>
                            </div>
                        </div>
                    </a>
                </article>
{% endfor %}
            </div>
        </section>
        <section id="pnjs">
            <h2 class="display-4 mt-5">Personnages-<strong>Non-Joueur</Strong> :</h2>
            <hr>
            <br/>
            <div class="row">
{% for un_pnj in pnjs %}
                <article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3 ">
                    <a href="{{ path('personnage_profil', {id: un_pnj.id} ) }}">
                        <div class="card bg-dark text-white">
                                <img class="badge-coin" src="{{ asset(un_pnj.clan.mon) }}" alt="Mon du clan" />
                            {# {% if un_pnj.est_mort is not empty and un_pnj.est_mort == 1 %}
                                <img src="{{ asset('img/icones/mort.png') }}" alt="est mort" style="width: 156px; position: absolute; top: 4rem; left: 0.20rem; z-index: 1;" />
                            {% endif %} #}
                            <div class="fond-masque-fonce">
                                <img class="card-img
                                    {# if un_pnj.est_mort is not empty and un_pnj.est_mort == 1 %}
                                        mort{% else %} #}
                                        survol
                                    {# {% endif %} #}"
                                    src="{{ asset(un_pnj.illustration) }}" alt="Illustration du personnage">
                            </div>
                            <div class="card-img-overlay">
                                <h4 class="card-title">{{ un_pnj.nom }} {{ un_pnj.prenom }}</h4>
                                <p class="card-text" style="color: #fff;"><small>{{ un_pnj.titres }}</small></p>
                            </div>
                        </div>
                    </a>
                </article>
{% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
