{% extends 'element.html.twig' %}
{% block element_content %}

    <!-- IMAGE INTRO -->
    <div class="col-6 pr-1 pb-1">
        <div>
            <img class="img-fluid w-100" src="{{ asset(personnage.illustration) }}" alt="{{personnage.nom}} {{personnage.prenom}}" title="{{personnage.nom}} {{personnage.prenom}}" />
        </div>
    </div>

    <!-- DESCRIPTION + LISTE -->
    <div class="col-6 pl-1 pb-1">

        <!-- CARD -->
        <div class="card h-100">

            <!-- CARD BODY -->
            <div class="card-body">
                <h4 class="card-title">{{ personnage.titres }}</h4>
                <p class="card-text text-medium text-justify">{{ personnage.description|raw|nl2br }}</p>
            </div>

            <!-- LIST -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{{ path('empire_clan', {id: personnage.clan.id} ) }}">
                        <img class="img-48" src="{{ asset(personnage.clan.mon) }}" alt="Mon du Clan {{personnage.clan.nom}}" title="Mon du Clan {{personnage.clan.nom}}" />
                    </a>
                    &nbsp;
                    <strong><a href="{{ path('empire_clan', {id: personnage.clan.id} ) }}">{{ personnage.clan.nom }}</a></strong>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('regles_ecole', {id: personnage.ecole.id} ) }}">
                        <img class="img-48" src="{{ asset(personnage.classe.icone) }}" alt="Classe {{personnage.classe.nom}}" title="Classe {{personnage.classe.nom}}" />
                    </a>
                    &nbsp;
                    <strong><a href="{{ path('regles_ecole', {id: personnage.ecole.id} ) }}">{{ personnage.ecole.nom }}</a></strong>
                </li>

                {% if personnage.joueur is not empty %}
                    <li class="list-group-item"><strong>Joueur :</strong> {{ personnage.joueur.pseudo }}</li>
                {% endif %}
            </ul>

        </div>

    </div>

    <!-- HISTORIQUE -->
    <div class="col-12 pt-1">

        <!-- CARD -->
        <div class="card card-body">

            <!-- TITLE -->
            <h2 class="card-title"><strong>Historique</strong></h2>
            <div class="card-text">
                {% set current_chapitre = 0 %}
                {% set current_episode = 0 %}
                {% for une_participation in personnage.participations|sortByField('scene') %}

                    {% if une_participation.scene.episodeParent.chapitreParent.id != current_chapitre %}
                        <hr>
                        <h4 class="mb-3"><strong>{{une_participation.scene.episodeParent.chapitreParent.titre}}</strong></h4>
                    {% endif %}
                    {% set current_chapitre = une_participation.scene.episodeParent.chapitreParent.id %}

                    {% if une_participation.scene.episodeParent.id != current_episode %}
                        <h5 class="ml-3"><a href="{{path('aventure_episode', {id: une_participation.scene.episodeParent.id})}}">{{une_participation.scene.episodeParent.titre}}</a></h5>
                    {% endif %}
                    {% set current_episode = une_participation.scene.episodeParent.id %}

                    <span class="ml-3">
                    {{personnage.prenom}}
                    {% if une_participation.estMort == 0 %}
                        a
                        {% if une_participation.xpGagne == 0 %}
                            participé 
                        {% else %}
                            gagné <strong>{{une_participation.xpGagne}}xp</strong> 
                        {% endif %}
                            lors de la scène <a href="{{path('aventure_episode', {id: une_participation.scene.episodeParent.id, '_fragment': 'scn' ~  une_participation.scene.numero  })}}" ><strong>{{une_participation.scene.titre}}</strong></a><br/>
                    {% else %}
                        <strong class="text-danger">est mort</strong> dans la scène <a href="{{path('aventure_episode', {id: une_participation.scene.episodeParent.id, '_fragment': 'scn' ~  une_participation.scene.numero  })}}" ><strong>{{une_participation.scene.titre}}</strong></a><br/>
                    {% endif %}
                    </span>
                    
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
