<!DOCTYPE html>
<html lang="fr">

    {% use "parts/head.html.twig" %}
    {% use "scripts/scripts.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}

    <body style="background-image: url({{asset('assets/img/ui/bg-clouds.jpg')}})">

        {% block nav %}
            {{ include('parts/nav.html.twig') }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('parts/footer.html.twig') }}
        {% endblock %}
        
        {% if app.user is empty %}
            {{ include('parts/modal.html.twig') }}
        {% endif %}

        {% block scripts %}
            {{ parent() }}
        {% endblock %}

    </body>

</html>