<!DOCTYPE html>
<html lang="fr">

    {% use "parts/head.html.twig" %}
    {% use "scripts/scripts.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}

    <body style="background-image: url({{asset('assets/img/ui/bg-clouds.jpg')}})">

        {% block nav %}
            {{ include('parts/nav.html.twig') }}
        {% endblock %}

        {% set NA_ICON_MON = '/assets/img/placeholders/na_mon.png' %}
        {% set NA_ICON_CLASS = '/assets/img/placeholders/na_class.png' %}
        {% set NA_IMG_43 = '/assets/img/placeholders/na_1200_43.jpg' %}
        {% set NA_IMG_169 = '/assets/img/placeholders/na_1280_169.jpg' %}
        {% set NA_IMG_RULE = '/assets/img/placeholders/na_rule.jpg' %}
        {% set NA_IMG_ARCHIVE = '/assets/img/placeholders/na_archive.jpg' %}
        {% set NA_IMG_PDF = '/assets/img/placeholders/na_pdf.jpg' %}
        {% set NA_IMG_CLASS = '/assets/img/placeholders/na_class.jpg' %}
        {% set NA_IMG_LIEU = '/assets/img/placeholders/na_lieu.jpg' %}
        {% set NA_IMG_CLAN = '/assets/img/placeholders/na_clan.jpg' %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('parts/footer.html.twig') }}
        {% endblock %}
        
        {% if app.user is empty %}
            {{ include('parts/modal.html.twig') }}
        {% endif %}

        {% block scripts %}
            {{ parent() }}
        {% endblock %}

    </body>

</html>