<!DOCTYPE html>
<html lang="fr">

    {% use "parts/head.html.twig" %}
    {% use "scripts/scripts.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}

    <body style="background-image: url({{asset('assets/img/ui/bg-clouds.jpg')}})">

        {% block nav %}
            {{ include('parts/nav.html.twig') }}
        {% endblock %}

        {% set NA_ICON = '/assets/img/placeholders/na_icon.png' %}
        {% set NA_ICON_MON = '/assets/img/placeholders/na_mon.png' %}
        {% set NA_ICON_CLASS = '/assets/img/placeholders/na_class.png' %}

        {% set NA_43 = '/assets/img/placeholders/na_43.jpg' %}
        {% set NA_1610 = '/assets/img/placeholders/na_1610.jpg' %}
        {% set NA_169 = '/assets/img/placeholders/na_169.jpg' %}

        {% set NA_SAISON = '/assets/img/placeholders/na_aventure_saison.jpg' %}
        {% set NA_CHAPITRE = '/assets/img/placeholders/na_aventure_chapitre.jpg' %}
        {% set NA_SESSION = '/assets/img/placeholders/na_aventure_session.jpg' %}
        {% set NA_SCENE = '/assets/img/placeholders/na_aventure_scene.jpg' %}

        {% set NA_ARCHIVE = '/assets/img/placeholders/na_archive.jpg' %}
        {% set NA_CLAN = '/assets/img/placeholders/na_clan.jpg' %}
        {% set NA_MAP = '/assets/img/placeholders/na_map.jpg' %}
        {% set NA_LIEU = '/assets/img/placeholders/na_lieu.jpg' %}

        {% set NA_RULE = '/assets/img/placeholders/na_rule.jpg' %}
        {% set NA_CLASS = '/assets/img/placeholders/na_class.jpg' %}
        {% set NA_LIBRARY = '/assets/img/placeholders/na_library.jpg' %}
        {% set NA_PDF = '/assets/img/placeholders/na_pdf.jpg' %}

        {% set NA_PERSO_ICO = '/assets/img/placeholders/na_perso_icon.jpg' %}
        {% set NA_PERSO_ILLU = '/assets/img/placeholders/na_perso_illu.jpg' %}

        {% set NA_BUSHI = '/assets/img/placeholders/na_school_bushi.jpg' %}
        {% set NA_MOINE = '/assets/img/placeholders/na_school_moine.jpg' %}
        {% set NA_COURTISAN = '/assets/img/placeholders/na_school_courtisan.jpg' %}
        {% set NA_SHUGENJA = '/assets/img/placeholders/na_school_shugenja.jpg' %}
        {% set NA_NINJA = '/assets/img/placeholders/na_school_ninja.jpg' %}
        {% set NA_ARTISAN = '/assets/img/placeholders/na_school_artisan.jpg' %}

        {% set ZENI = '/assets/img/ui/zeni.png' %}
        {% set BU = '/assets/img/ui/bu.png' %}
        {% set KOKU = '/assets/img/ui/koku.png' %}
        {% set PDF = '/assets/img/ui/pdf.png' %}

        {% set na_image = NA_1610 %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('parts/footer.html.twig') }}
        {% endblock %}
        
        {% if app.user is empty %}
            {{ include('parts/modal.html.twig') }}
        {% endif %}

        {% block scripts %}
            {{ parent() }}
        {% endblock %}

    </body>

</html>