<!DOCTYPE html>
<html lang="fr">

    {% use "parts/head.html.twig" %}
    {% use "scripts/scripts.twig" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}

    <body style="background-image: url({{asset('assets/img/ui/bg-clouds.jpg')}})">

        {% block nav %}
            {{ include('parts/nav.html.twig') }}
        {% endblock %}
        {% set NA_IMG_ARCHIVE = '/assets/img/placeholders/na_archive.jpg' %}
        {% set NA_IMG_CLAN = '/assets/img/placeholders/na_clan.jpg' %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('parts/footer.html.twig') }}
        {% endblock %}
        
        {% if app.user is empty %}
            {{ include('parts/modal.html.twig') }}
        {% endif %}

        {% block scripts %}
            {{ parent() }}
        {% endblock %}

    </body>

</html>