<!DOCTYPE html>
<html lang="fr">

    {{ include('/parts/head.html.twig') }}

    <body>

    {% block nav %}
        {{ include('/parts/nav.html.twig') }}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ include('/scripts/scripts.twig') }}
    {% endblock %}

    {% block footer %}
        {{ include('parts/footer.html.twig') }}
    {% endblock %}
    
    {% if app.user is empty %}
        {{ include('parts/modal.html.twig') }}
    {% endif %}

    </body>
</html>