{% extends 'base.html.twig' %}
{% block title %}{{entity|capitalize}} {{nom}} {{parent()}} {% endblock %}
{% block body %}
    <main class="container-fluid mt-2 pb-5 mb-5">
        <div class="container relative">

            <!-- FIL D'ARIANE -->
            <nav>
                <span class="text-muted">
                    <a href="{{ path(category, {'_fragment': entity} ) }}"><strong>{{category|capitalize}}</strong></a>
                    > <strong>{{ nom }}</strong>
                </span>
            </nav>   

            <!-- MESSAGE FLASHES -->
            {{ include('parts/messages-flashes.html.twig') }}

            <!-- MAIN SECTION -->
            <section class="mt-5 mb-5"> 

                <!-- H1 TITLE -->
                <h1 class="relative display-4"><strong>{{ nom }}</strong>

                    {% if app.user and is_granted("ROLE_MJ") %}
                        <!-- MJ - BTN ICON EDIT - RIGHT SNAP -->
                        {% set redirect, size, color, position = entity, 'medium', 'text-accent', 'right-snap' %}
                        {{ include('/parts/btn-icon-edit.html.twig') }}
                    {% endif %}

                </h1>
                <hr>

                <!-- ELEMENT CONTENT -->
                <article class="row mt-4">

                    {% block element_content %}{% endblock %}
                    
                </article>
            </section>
        </div>
    </main>
{% endblock %}
