<main class="col-12">
    {{ form_start(form) }}
        <div class="row form-wrapper">

            <div class="col-12">{{ form_row(form.genre) }}</div>

            <div class="col-6">{{ form_row(form.nom) }}</div>
            <div class="col-4">{{ form_row(form.type) }}</div>
            <div class="col-2">{{ form_row(form.cout) }}</div> 

            <div class="col-4">{{ form_row(form.exclusive) }}</div>
            <div class="col-2">{{ form_row(form.discountClan) }}</div>
            <div class="col-2">{{ form_row(form.discountClan2) }}</div>
            <div class="col-2">{{ form_row(form.discountClasse) }}</div>
            <div class="col-2">{{ form_row(form.discount) }}</div>

            <div class="col-12">{{ form_row(form.description,{ 'attr': {'rows': '10'} }) }}</div>
            
            {{ include('/parts/btn-form.html.twig') }}
        </div>
    {{ form_end(form) }}
</main>
