<main class="col-12">
    {{ form_start(form) }}
        <div class="row justify-content-center align-items-start mt-5 mb-4">

            <div class="col-6">
                {{ form_row(form.nom) }}
                {{ form_row(form.genre) }}
            </div>

            <div class="col-6">
                {{ form_row(form.chef) }}
                Statut : {{ form_row(form.estMajeur) }}
            </div>

            <div class="col-4 mt-3 text-center">
                {% if type == 'Modifier' %}
                    <img class="img-160" src="{{ asset(clan.mon) }}" />
                {% endif %}
            </div>

            <div class="col-8 mt-3">
                {{ form_row(form.mon) }}
                {{ form_row(form.couleur) }}
            </div>


            <!-- IMAGE -->
            <div class="col-6 mt-3">
                {{ form_label(form.image) }}
                <label id="preview-label" for="admin_clan_image" class="{% if type != 'Modifier' %}d-none{% endif %} hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible link-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{% if type == 'Modifier' %}{{ asset(clan.image|default(NA_169)) }}{% endif %}" />
                </label>
                <browse id="browse-label">
                    <span id="fileName"></span>
                    {{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}
                </browse> 
            </div>

            <div class="col-6 mt-3">
                {{ form_label(form.video) }}
                {% if type == 'Modifier' %}
                    <video class="img-fluid" controls muted>
                        <source src="{{ asset(clan.video|default(NA_169)) }}" type="video/mp4">
                    </video>
                {% endif %}
                {{ form_widget(form.video) }}
            </div>

            <div class="col-12 mt-5">
                {{ form_row(form.citation) }}
            </div>

            <div class="col-12 mt-3">
                {{ form_row(form.description,{ 'attr': {'rows': '7'} }) }}
            </div>

            <div class="col-12 mt-3 text-center">
                {% if type == 'Modifier' %}
                    <img class="img-fluid" src="{{ asset( clan.territoireCarte|default( NA_MAP ) ) }}" />
                {% endif %}
            </div>

            <div class="col-12 mt-3">
                {{ form_row(form.territoireCarte)}}
            </div>

            <div class="col-12 mt-3">
                {{ form_row(form.territoireDesc,{ 'attr': {'rows': '7'} }) }}
            </div>

            <div class="col-12 mt-3">
                {{ form_row(form.longDescription,{ 'attr': {'rows': '20'} }) }}
            </div>
            
            <div class="col-12 text-center mt-5">
                <button class="btn btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</main>