<main class="offset-2 col-8">
    {{ form_start(form, {'attr': {'id': 'form1'}}) }}
        <div class="row justify-content-center align-items-start mt-5 mb-4">
            <div class="col-6">
                {{ form_row(form.titre) }}
            </div>
            <div class="col-6">
                {{ form_row(form.temps) }}
            </div>
            <div class="col-6">
                {{ form_row(form.episodeParent) }}
            </div>
            <div class="col-6">
                {{ form_row(form.numero) }}
            </div>

            <!-- IMAGE -->
            <div class="col-12 mt-3">
                {{ form_label(form.image) }}
                <label id="preview-label" for="admin_scene_image" class="{% if type != 'Modifier' %}d-none{% endif %} hover-slight-fade hover-pointer hover-icon-visible">
                    <icon class="btn-icon-medium right-corner-16"><i class="fas fa-edit semi-visible link-white"></i></icon>
                    <img id="image-preview" class="img-fluid" src="{% if type == 'Modifier' %}{{ asset(scene.image|default(NA_SCENE)) }}{% endif %}" />
                </label>
                <browse id="browse-label">
                    <span id="fileName"></span>
                    {{form_widget(form.image, {'attr': {'class': 'input-image'}}) }}
                </browse> 
            </div>

            <div class="col-12 mt-5">
                {{ form_row(form.texte,{ 'attr': {'rows': '15'} }) }}
            </div>
        </div>

        Participants (facultatif) :<br/>
        <div class="form-row">

            <!-- PARTICIPATION PJs -->
            <div class="col-6 text-center">
                <div class="text-right"><small class="mr-3">XP gagné / mort</small></div>
                {% if type != 'Créer' %}
                    {% if participations_pjs is not empty %}
                        {% set nbr_pjs = 0 %}
                        {% for une_participation in participations_pjs %}
                            <div class="participants form-row">
                                <select class="form-control mt-1 col-8" name="participants[{{nbr_pjs}}]" required id="data[participants][{{nbr_pjs}}]" >
                                    {% for un_pj in tout_pjs %}
                                        <option value="{{un_pj.id}}" {% if un_pj.id == une_participation.personnage.id %}selected{% endif %}>
                                            {{un_pj.nom}} {{un_pj.prenom}}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input class="form-control ml-1 mt-1 col-2" type="number" value="{{une_participation.xpGagne}}" name="participants_xp[{{nbr_pjs}}]" id="data[participants_xp][{{nbr_pjs}}]" />
                                <input class="mt-1 ml-1 col-1" type="checkbox" name="participants_mort[{{nbr_pjs}}]" id="data[participants_mort][{{nbr_pjs}}]" {% if une_participation.estMort == true %}checked{% endif %} />
                            </div>
                            {% set nbr_pjs = nbr_pjs + 1 %}
                        {% else %}
                            Il n'y a pas encore de participants PJs
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <button class="btn btn-medium btn-secondary-style mt-3" id="add-participants">Ajouter un PJ</button>
                {% if type != 'Créer' %}
                    {% if participations_pjs is not empty %}
                        <br/><button class="remove-participants btn mt-1 btn-tertiary-style">Retirer</button>
                    {% endif %}
                {% endif %}
            </div>

            <!-- PARTICIPATION PNJs -->
            <div class="col-6 text-center">
                <div class="text-right"><small class="mr-4">Mort</small></div>
                {% if type != 'Créer' %}
                    {% if participations_pnjs is not empty %}
                        {% set nbr_pnjs = 0 %}
                        {% for une_participation_pnj in participations_pnjs %}
                            <div class="participants_pnjs form-row">
                                <select class="form-control mt-1 col-10" name="participants_pnjs[{{nbr_pnjs}}]" required id="data[participants_pnjs][{{nbr_pnjs}}]" >
                                    {% for un_pnj in tout_pnjs %}
                                        <option value="{{un_pnj.id}}" {% if un_pnj.id == une_participation_pnj.personnage.id %}selected{% endif %}>
                                            {{un_pnj.nom}} {{un_pnj.prenom}}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input class="mt-1 ml-1 col-1" type="checkbox" name="participants_pnjs_mort[{{nbr_pnjs}}]" id="data[participants_pnjs_mort][{{nbr_pnjs}}]" {% if une_participation_pnj.estMort == true %}checked{% endif %} />
                            </div>
                            {% set nbr_pnjs = nbr_pnjs + 1 %}
                        {% else %}
                            Il n'y a pas encore de participants PNJs
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <button class="btn btn-medium btn-secondary-style mt-3" id="add-participants_pnjs">Ajouter un PNJ</button>
                {% if type != 'Créer' %}
                    {% if participations_pnjs is not empty %}
                        <br/><button class="remove-participants_pnjs btn mt-1 btn-tertiary-style">Retirer</button>
                    {% endif %}
                {% endif %}
            </div>

        </div>

        <div class="text-center">
            <button class="btn btn-large btn-primary-style">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</main>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">

        let pjs = {
            {% for un_pj in tout_pjs|default([]) %}
                {{un_pj.id}} : "{{un_pj.nom}} {{un_pj.prenom}}",
            {% endfor %}
        };

        let pnjs = {
            {% for un_pnj in tout_pnjs|default([]) %}
                {{un_pnj.id}} : "{{un_pnj.nom}} {{un_pnj.prenom}}",
            {% endfor %}
        };
        
        $(document).ready(function() {

            // EVENT LISTENER pour le bouton Ajouter un PJ
            $("#add-participants").click(function(e)
            {
                e.preventDefault();
                let numberOfparticipants = $("#form1").find("select[name^='participants']").length;

                let new_select_pj = '<select class="form-control mt-1 col-8" name="participants[' + numberOfparticipants + ']" required id="data[participants][' + numberOfparticipants + ']" >';
                for (key in pjs) new_select_pj += '<option value="' + key + '">' + pjs[key] + '</option>';
                new_select_pj += '</select>';
                let xp = '<input class="form-control ml-1 mt-1 col-2" type="number" name="participants_xp[' + numberOfparticipants + ']" value="0" id="data[participants_xp][' + numberOfparticipants + ']" />';
                let mort = '<input class="mt-1 ml-1 col-1" type="checkbox" name="participants_mort[' + numberOfparticipants + ']" id="data[participants_mort][' + numberOfparticipants + ']" />';
                let html = '<div class="participants form-row">' + new_select_pj + xp + mort + '</div>';
                $("#form1").find("#add-participants").before(html);

                let removePJButton = '<button class="remove-participants btn mt-2 ml-2">Retirer</button>';
                if (numberOfparticipants == 0)
                    $("#form1").find("#add-participants").after(removePJButton);
            });

            // EVENT LISTENER pour le bouton Ajouter un PNJ
            $("#add-participants_pnjs").click(function(e)
            {
                e.preventDefault();
                let numberOfparticipants_pnjs = $("#form1").find("select[name^='participants_pnjs']").length;

                let new_select_pnj = '<select class="form-control mt-1 col-10" name="participants_pnjs[' + numberOfparticipants_pnjs + ']" required id="data[participants_pnjs][' + numberOfparticipants_pnjs + ']" >';
                for (cle in pnjs) new_select_pnj += '<option value="' + cle + '">' + pnjs[cle] + '</option>';
                new_select_pnj += '</select>';
                let mort_pnj = '<input class="mt-1 ml-1 col-1" type="checkbox" name="participants_pnjs_mort[' + numberOfparticipants_pnjs + ']" id="data[participants_pnjs_mort][' + numberOfparticipants_pnjs + ']" />';
                var html = "<div class='participants_pnjs form-row'>" + new_select_pnj + mort_pnj + "</div>";
                $("#form1").find("#add-participants_pnjs").before(html);

                let removePNJButton = '<button class="remove-participants_pnjs btn mt-2 ml-2">Retirer</button>';
                if (numberOfparticipants_pnjs == 0)
                    $("#form1").find("#add-participants_pnjs").after(removePNJButton);
            });

        });

        // EVENT LISTENER pour le bouton Supprimer un PJ
        $(document).on("click", ".remove-participants",function(e){
            e.preventDefault();
            $('#form1 div.participants:last').remove();

            let numberOfparticipants = $("#form1").find("select[name^='participants']").length;
            if (numberOfparticipants == 0)
                $('#form1 button.remove-participants').remove();
        });

        // EVENT LISTENER pour le bouton Supprimer un PNJ
        $(document).on("click", ".remove-participants_pnjs",function(e){
            e.preventDefault();
            $('#form1 div.participants_pnjs:last').remove();

            let numberOfparticipants_pnjs = $("#form1").find("select[name^='participants_pnjs']").length;
            if (numberOfparticipants_pnjs == 0)
                $('#form1 button.remove-participants_pnjs').remove();
        });
        
    </script>
{% endblock %}