<a class="{{position|default('right-corner')}} {{color}} btn-icon-{{size}} fa-fade hover-stop" href="{{ path('admin_' ~ element ~ '_edit', {id:un_element.id}) }}?redirect={{redirect}}">
    <i class="fas fa-edit" alt="Icône Modifier" title="Modifier"></i>
</a>