<a class="btn-icon-text {{color}} fa-fade hover-stop" href="{{ path('admin_' ~ element ~ '_create')}}?numero={{numero}}&{{parent}}ID={{parentID}}&redirect={{redirect}}">
    <i class="fas fa-plus-square" alt="Icône {{label}}"></i>&nbsp;&nbsp;{{label}} {{element == 'scene' ? 'une' : 'un'}} {{element|capitalize}}
</a>