<!-- UN PERSONNAGE -->
<article class="col-xl-2 col-lg-3 col-md-4 col-sm-6 py-3">

    {% if perso.locked == 0 %}
        <a href="{{ path('personnage_profil', {id: perso.id} ) }}" alt="Carte d'un personnage" title="Voir le profil de {{perso.prenom}}">
    {% endif %}

    {% set zoom, translucide, hover_opaque, text, dead, grayscale = 'hover-zoom-x2', '', '', 'text-white', '', '' %}
    
    {% if perso.locked == 1 %}
        {% set zoom, translucide, hover_opaque, text, dead, grayscale = '', 'translucide', '', 'text-white', '', 'grayscale' %}
    {% elseif perso.estMort == 1 %}
        {% set zoom, translucide, hover_opaque, text, dead, grayscale = 'hover-zoom-x2', 'translucide', 'hover-opaque', 'text-danger', 'dead', '' %}
    {% endif %}

            <div class="card character-card text-white shadow-more {{zoom}} {{translucide}} {{hover_opaque}} relative">
                {% if perso.locked == 1 %}
                    <img class="absolute icon-lock-character fa-beat" src="{{asset('assets/img/icons/locked.png')}}" alt="Icône cadena" title="A débloquer !" />
                {% elseif perso.estMort == 1 %}
                    <img class="absolute icon-dead-big" src="{{asset('assets/img/icons/mort.png')}}" alt="Icône est mort" />
                {% endif %}
                <img class="absolute corner-badge {{grayscale}} {{dead}}" src="{{ asset(perso.clan.mon) }}" alt="Mon d'un clan"/>
                <div class="mask-bg-dark"><img class="card-img {{grayscale}} {{dead}}" src="{{ asset(perso.illustration) }}" alt="Illustration d'un personnage" title="Voir le profil de {{perso.prenom}}" /></div>
                <div class="card-img-overlay">
                    <h4 class="card-title {{text}}">{{ perso.nom }} {{ perso.prenom }}</h4>
                    <p class="card-text {{text}}">
                        {% if perso.estPj == 1 %}<small>{{ perso.joueur.pseudo }}</small>{% endif %}
                    </p>
                    <p class="card-text {{text}}"><small>{{ perso.titres }}</small></p>
                </div>
            </div>
    {% if perso.locked == 0 %}
        </a>
    {% endif %}
</article>