<!-- FOOTER -->
<footer id="footer1" class="container-fluid">
    <container class="container py-5 row">

            <sitemap class="col-2">
                <h5>Plan du site</h5>
                <nav id="footernav" class="ml-3">
                    <ul>
                        <li><a class="footer-link" href="{{ path('aventure') }}">L'Aventure</a></li>
                        <li><a class="footer-link" href="{{ path('personnages') }}">Personnages</a></li>
                        <li><a class="footer-link" href="{{ path('empire') }}">L'Empire</a></li>
                        <li><a class="footer-link" href="{{ path('regles') }}">Les Règles</a></li>
                        <li><a class="footer-link" href="{{ path('contact') }}">Contactez-Nous</a></li>
                        <li><a class="footer-link" href="{{ path('cgu') }}">CGU</a></li>
                        <li><a class="footer-link" href="{{ path('politique_confidentialite') }}">Politique de Confidentialité</a></li>
                        <li><a class="footer-link" href="{{ path('mentions_legales') }}">Mentions Légales</a></li>
                        <li><a class="footer-link" href="{{ path('about') }}">A propos</a></li>
                    </ul>
                </nav>
            </sitemap>

            <social class="col-2 offset-8 text-center">
                <h5>Réseaux Sociaux</h5>
                <nav id="social-medias" class="d-flex justify-content-around">
                    <a href="" class="link-white hover-zoom-x2"><i class="fab fa-twitter"></i></a>
                    <a href="" class="link-white hover-zoom-x2"><i class="fab fa-facebook"></i></a> 
                    <a href="" class="link-white hover-zoom-x2"><i class="fab fa-instagram"></i></a>
                </nav>
            </social>

    </container>
</footer>

<footer id="footer2" class="container-fluid">
    <small class="container py-4 text-center align-middle">&copy;&nbsp;Site réalisé par Axel Onçu-Turan pour l'examen final de Philiance</small>
</footer>