{% if app.user and is_granted("ROLE_MJ") %}
    <div class="d-flex justify-content-center border p-3 bg-light mb-3 hover-darked">
        <div class="text-right">
            <a href="{{ path('admin_scene_create') }}?numero={{numero_scene}}&episodeID={{episode.id}}&redirect=episode">
                <i class="fas fa-plus-square" alt="Icône {{label}} Scène" title="{{label}} une Scène"></i>&nbsp;&nbsp;{{label}} une Scène
            </a>
        </div>
    </div>
{% endif %}