<nav class="nav justify-content-center">

    {% if app.user and is_granted("ROLE_MJ") %}
    <!-- MJ NAV TABS LINKS -->
        
        {% set element, label = 'scene', 'Scènes' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'episode', 'Épisodes' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'chapitre', 'Chapitres' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'saison', 'Saisons' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'clan', 'Factions' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'archive', 'Archives' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'lieu', 'Lieux' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'classe', 'Classes' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'ecole', 'Écoles' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'personnage', 'Personnages' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label = 'fiche', 'Fiches' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {# {% set element = 'famille' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }} #}

    {% endif %}

    {% if app.user and is_granted("ROLE_ADMIN") %}
    <!-- ADMIN NAV TABS LINKS -->

        <a class="nav-link admin-link{% if app.request.get('_route') == 'admin_utilisateur'
                            or app.request.get('_route') == 'admin_utilisateur_create'
                            or app.request.get('_route') == 'admin_utilisateur_edit' %}active{% endif %}" 
                            href="{{ path('admin_utilisateur') }}">Utilisateurs</a>
                            
    {% endif %}

</nav>
