<element class="col-3 p-1">
    <card class="card card-body p-3 bg-white d-flex flex-column h-100 relative">

        <icons class="absolute right-corner-16">
            <a href="{{ path('admin_' ~ element) }}"><i class="fa-solid fa-table-list ml-1"></i></a>
            <a href="{{ path('admin_' ~ element ~ '_create') }}"><i class="fa-solid fa-plus ml-1"></i></a>
        </icons>

        <h5 class="m-0 mt-n3"><span class="display-4">{{nbr}}</span> <strong>{{label}}</strong></h5>

        <last class="mt-2">
            {% if last is not empty %}
                <small class="text-muted">Dernier ajout</small><br/>
                <a class="relative d-block text-white hover-slight-fade" href="{{ path('admin_' ~ element ~ '_edit', {id: last.id} ) }}" >
                    <i class="right-corner-8 absolute fa-solid fa-edit"></i>
                    <div class="ratio-{{ratio|default('43')}}">
                        <img class="bg-lightest ratio-cropped" src="{{ asset(image|default(NA_43)) }}" alt="Image {{element}}" />
                    </div>
                </a>
                <strong class="d-block text-center mt-1">{{nom}}</strong>
            {% else %}
                <div class="text-muted text-center">Il n'y a pas encore de {{element}}</div>
            {% endif %}
        </last>

    </card>
</element>