{% extends 'base.html.twig' %}

{% block title %}Panneau d'Administration {{ parent() }}{% endblock %}

{% block body %}

<main class="container-fluid bg-light page-min">
    <div class="container py-5">
        <h1 class="text-center">{% block h1 %}Bienvenue dans le Panneau {% if is_granted("ROLE_ADMIN") %}d'Administration{% else %}du Maître du Jeu{% endif %} !{% endblock %}</h1>

        {{ include('back_office/admin-nav.html.twig') }}
        {{ include('parts/messages-flashes.html.twig') }}

        {% block child %}

{% if is_granted("ROLE_MJ") %}
        {# AVENTURE #}
        <h2 class="mt-5">Aventure</h2>
        <hr>
        <p class="mb-4 text-muted">Récapitulatif des éléments ajoutés pour le descriptif de l'Aventure.</p>
        <section class="row">

            {# SCENES #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_scene') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrScenes }}</span> &nbsp; <strong>Scènes</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierScene %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_scene_edit', {id: dernierScene.episodeParent.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_scene_edit', {id: dernierScene.episodeParent.id} ) }}" >
                                <img class="img-fluid" src="{{ dernierScene.image }}" alt="Image d'une Scène" />
                            </a><br/>
                            <strong>{{ dernierScene.titre }}</strong>
                        {% else %}
                            <p class="my-5">Il n'y a pas encore de scène disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_scene_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# EPISODES #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_episode') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrEpisodes }}</span> &nbsp; <strong>Épisodes</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierEpisode %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_episode_edit', {id: dernierEpisode.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_episode_edit', {id: dernierEpisode.id} ) }}" >
                                <img class="img-fluid" src="{{ dernierEpisode.image }}" alt="Image d'un Episode" />
                            </a><br/>
                            <strong>{{ dernierEpisode.titre }}</strong>
                        {% else %}
                            <p class="my-5">Il n'y a pas encore d'épisode disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_episode_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# CHAPITRES #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_chapitre') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrChapitres }}</span> &nbsp; <strong>Chapitres</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierChapitre %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_chapitre_edit', {id: dernierChapitre.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_chapitre_edit', {id: dernierChapitre.id} ) }}" >
                                <img class="img-fluid" src="{{ dernierChapitre.image }}" alt="Image d'un Chapitre" />
                            </a><br/>
                            <strong>{{ dernierChapitre.titre }}</strong>
                        {% else %}
                            <p class="my-5">Il n'y a pas encore de chapitre disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_chapitre_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# SAISONS #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_saison') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrSaisons }}</span> &nbsp; <strong>Saisons</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierSaison %}
                            <div class="text-center mb-3">
                                <small class="text-muted">Dernier ajout :
                                    <strong><a href="{{ path('admin_saison_edit', {id: dernierSaison.id} ) }}" >(éditer)</a></strong>
                                </small><br/>
                                <a href="{{ path('admin_saison_edit', {id: dernierSaison.id} ) }}" >
                                    <img class="img-fluid" src="{{ dernierSaison.image }}" alt="Image d'une Saison" />
                                </a><br/>
                                <strong>{{ dernierSaison.titre }}</strong>
                            </div>
                        {% else %}
                            <p class="my-5">Il n'y a pas encore de saison disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_saison_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

        </section>

        {# EMPIRE LORE #}
        <h2 class="mt-5">Empire</h2>
        <hr>
        <p class="mb-4 text-muted">Voici le tableau de bord relatif au descriptif concernant l'univers de Jeu.</p>
        <section class="row">

            {# ARCHIVES #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_archive') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrArchives }}</span> &nbsp; <strong>Archives</strong></h5>
                    <div class="text-center mb-3">
                        {% if derniereArchive %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_archive_edit', {id: derniereArchive.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_archive_edit', {id: derniereArchive.id} ) }}" >
                                {% if derniereArchive.image %}
                                    <img class="img-fluid mt-2" src="{{ asset(derniereArchive.image) }}" alt="Image du Archive" />
                                {% else %}
                                    <img class="img-fluid mt-2" src="{{ asset('assets/img/placesholders/1280x720.png') }}" alt="Image du Archive" />
                                {% endif %}
                            </a><br/>
                            <strong>{{ derniereArchive.titre }}</strong><br/>
                        {% else %}
                        <p class="my-5">Il n'y a pas encore d'Archive disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_archive_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# CLANS & FACTIONS #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_clan') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrClans }}</span> &nbsp; <strong>Clans et Factions</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierClan %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_clan_edit', {id: dernierClan.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_clan_edit', {id: dernierClan.id} ) }}" >
                                {% if dernierClan.mon %}
                                    <img class="img-128 mt-2" src="{{ asset(dernierClan.mon) }}" alt="Mon du Clan" />
                                {% else %}
                                    <img class="img-128 mt-2" src="{{ asset('assets/img/clans/na_mon.png') }}" alt="Mon du Clan" />
                                {% endif %}
                            </a><br/>
                            <strong>{{ dernierClan.nom }}</strong><br/>
                        {% else %}
                        <p class="my-5">Il n'y a pas encore de Clan disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_clan_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# LIEUX #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_lieu') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrLieux }}</span> &nbsp; <strong>Lieux</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierLieu %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_lieu_edit', {id: dernierLieu.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_lieu_edit', {id: dernierLieu.id} ) }}" >
                                {% if dernierLieu.image %}
                                    <img class="img-fluid mt-2" src="{{ asset(dernierLieu.image) }}" alt="Image du Lieu" />
                                {% else %}
                                    <img class="img-fluid mt-2" src="{{ asset('assets/img/placesholders/1280x720.png') }}" alt="Image du Lieu" />
                                {% endif %}
                            </a><br/>
                            <strong>{{ dernierLieu.nom }}</strong><br/>
                        {% else %}
                        <p class="my-5">Il n'y a pas encore de Lieu disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_lieu_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>
            
        </section>


        {# REGLES #}
        <h2 class="mt-5">Règles</h2>
        <hr>
        <p class="mb-4 text-muted">Voici le tableau de bord relatif au descriptif concernant les mécaniques de Jeu.</p>
        <section class="row">

            {# CLASSES #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_classe') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrClasses }}</span> &nbsp; <strong>Classes</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierClasse %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_classe_edit', {id: dernierClasse.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_classe_edit', {id: dernierClasse.id} ) }}" >
                                {% if dernierClasse.icone %}
                                    <img class="img-128" src="{{ asset(dernierClasse.icone) }}" alt="Icone de la Classe" />
                                {% else %}
                                    <img class="img-128" src="{{ asset('assets/img/placeholders/na_class.png') }}" alt="Icone de la Classe" />
                                {% endif %}
                            </a><br/>
                            <strong>{{ dernierClasse.nom }}</strong><br/>
                        {% else %}
                            <p class="my-5">Désolé ! Il n'y a pas encore de classe disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_classe_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# ECOLES #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_ecole') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrEcoles }}</span> &nbsp; <strong>Écoles</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierEcole %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_ecole_edit', {id: dernierEcole.id} ) }}#}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_ecole_edit', {id: dernierEcole.id} ) }}#}" >
                                <img class="img-fluid" src="{{ asset(dernierEcole.image) }}" alt="Icone de l'Ecole" />
                            </a><br/>
                            <strong>{{ dernierEcole.nom }}</strong><br/>
                        {% else %}
                            <p class="my-5">Désolé ! Il n'y a pas encore d'école disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_ecole_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

        </section>

        {# PERSONNAGES #}
        <h2 class="mt-5">Personnages</h2>
        <hr>
        <p class="mb-4 text-muted">Voici le tableau de bord relatif aux personnages.</p>
        <section class="row">

            {# PERSONNAGES JOUEURS #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_personnage') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrPJs }}</span> &nbsp; <strong>Personnages</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierPJ %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_personnage_edit', {id: dernierPJ.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_personnage_edit', {id: dernierPJ.id} ) }}" >
                                {% if dernierPJ.icone is not empty %}
                                    <img class="img-128" src="{{ dernierPJ.icone }}" alt="Icône Avatar du Personnage" />
                                {% else %}
                                    <img class="img-128" src="https://i.pravatar.cc/300" alt="Icône Avatar du Personnage" />
                                {% endif %}
                            </a><br/>
                            {{ dernierPJ.nom }} <strong>{{ dernierPJ.prenom }}</strong><br/>
                        {% else %}
                            <p class="my-5">Désolé ! Il n'y a pas encore de personnage disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_personnage_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# PERSONNAGES NON-JOUEURS #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_personnage') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrPNJs }}</span> &nbsp; <strong>PNJs</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierPNJ %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_personnage_edit', {id: dernierPNJ.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_personnage_edit', {id: dernierPNJ.id} ) }}" >
                                {% if dernierPNJ.icone is not empty %}
                                    <img class="img-128" src="{{ dernierPNJ.icone }}" alt="Icône Avatar du Personnage" />
                                {% else %}
                                    <img class="img-128" src="https://i.pravatar.cc/300" alt="Icône Avatar du Personnage" />
                                {% endif %}
                            </a><br/>
                            {{ dernierPNJ.nom }} <strong>{{ dernierPNJ.prenom }}</strong><br/>
                        {% else %}
                            <p class="my-5">Désolé ! Il n'y a pas encore de personnage non-joueur disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_personnage_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

            {# FICHE PERSONNAGES #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_fiche') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrFiches }}</span> &nbsp; <strong>Fiches Personnages</strong></h5>
                    <div class="text-center mb-3">
                        {% if derniereFiche %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_fiche_edit', {id: derniereFiche.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_fiche_edit', {id: derniereFiche.id} ) }}" >
                                {% if derniereFiche.personnage.icone is not empty %}
                                    <img class="img-128" src="{{ derniereFiche.personnage.icone }}" alt="Icône Avatar du Personnage" />
                                {% else %}
                                    <img class="img-128" src="https://i.pravatar.cc/300" alt="Icône Avatar du Personnage" />
                                {% endif %}
                            </a><br/>
                            {{ derniereFiche.personnage.nom }} <strong>{{ derniereFiche.personnage.prenom }}</strong><br/>
                        {% else %}
                            <p class="my-5">Désolé ! Il n'y a pas encore de fiche personnage disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_fiche_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

        </section>

{% endif %}

{% if is_granted("ROLE_ADMIN") %}

        {# UTILISATEURS #}
        <h2 class="mt-5">Comptes Utilisateurs</h2>
        <hr>
        <p class="mb-4 text-muted">Voici le tableau de bord relatif aux comptes utilisateurs.</p>
        <section class="row">

            {# UTILISATEURS #}
            <div class="col-lg-3 col-12 px-2">
                <article class="border p-3 bg-white d-flex flex-column h-100">
                    <a class="coin-droit" href="{{ path('admin_utilisateur') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;<strong>Tout</strong></a>
                    <h5><span class="display-4">{{ nbrUtilisateurs }}</span> &nbsp; <strong>Utilisateurs</strong></h5>
                    <div class="text-center mb-3">
                        {% if dernierUtilisateur %}
                            <small class="text-muted">Dernier ajout :
                                <strong><a href="{{ path('admin_utilisateur_edit', {id: dernierUtilisateur.id} ) }}" >(éditer)</a></strong>
                            </small><br/>
                            <a href="{{ path('admin_utilisateur_edit', {id: dernierUtilisateur.id} ) }}" >
                                {% if dernierUtilisateur.avatar %}
                                    <img class="img-128" src="{{ dernierUtilisateur.avatar }}" alt="Avatar de l'utilisateur" />
                                {% else %}
                                    <img class="img-128" src="https://i.pravatar.cc/300" alt="Avatar de l'utilisateur" />
                                {% endif %}
                            </a><br/>
                            <strong>{{ dernierUtilisateur.pseudo }}</strong><br/>
                        {% else %}
                            <p class="my-5">Désolé ! Il n'y a pas encore d'utilisateur disponible !</p>
                        {% endif %}
                    </div>
                    <a href="{{ path('admin_utilisateur_create') }}" class="btn btn-primary mt-auto">Ajouter</a>
                </article>
            </div>

        </section>

{% endif %}

        {% endblock %}

    </div> 
</main>

{% endblock %}
