<nav class="nav justify-content-center align-items-center">

    {% if app.user and is_granted("ROLE_MJ") %}
    <!-- MJ NAV TABS LINKS -->

        <!-- AVENTURE -->
        {% set element, label, genre = 'scene', 'Scènes', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'episode', 'Épisodes', 'M' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'chapitre', 'Chapitres', 'M' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'saison', 'Saisons', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        <!-- EMPIRE -->
        {% set element, label, genre = 'clan', 'Factions', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'famille', 'Familles', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'archive', 'Archives', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'lieu', 'Lieux', 'M' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        <!-- RÈGLES -->
        {% set element, label, genre = 'rule', 'Règles', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'classe', 'Classes', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'ecole', 'Écoles', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'avantage', 'Avantages / Désavantages', 'M' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'competence', 'Compétences', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'objet', 'Objets', 'M' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        <!-- PERSONNAGES -->
        {% set element, label, genre = 'personnage', 'Personnages', 'M' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

        {% set element, label, genre = 'fiche', 'Fiches', 'F' %}
        {{ include('/back_office/btn-mj-tab-link.html.twig') }}

    {% endif %}

    {% if app.user and is_granted("ROLE_ADMIN") %}
    <!-- ADMIN NAV TABS LINKS -->

        <a class="nav-link admin-link{% if app.request.get('_route') == 'admin_utilisateur'
                            or app.request.get('_route') == 'admin_utilisateur_create'
                            or app.request.get('_route') == 'admin_utilisateur_edit' %}active{% endif %}" 
                            href="{{ path('admin_utilisateur') }}">Utilisateurs</a>
                            
    {% endif %}

</nav>